body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.navigation {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 8%;
  align-items: center;
  justify-content: center;
  gap: 180px;
}
.navigation-items {

  color: white;
  font-family: "oswaldRegular";
  text-decoration: none;
}
a {

  padding: 2px;
  border-bottom: 1px solid white;
}
.cover-container {
  height: calc(100vh - 78.34px);
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cover-image {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-color: #21425e;
  animation: zoomAnimation 40s infinite alternate;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #242b2e;
  opacity: 0.6;
  z-index: 2;
}
.grid-container {
  object-fit: fill;
  display: grid;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  column-gap: 240px;
  row-gap: 20px;
  grid-template-columns: auto auto auto; /* 3 columns */
  grid-template-rows: auto auto auto; /* 3 rows */
  z-index: 3;
}

.grid-item {
  font-size: 30px;
  text-align: center;
  width: 377px;
  height: 220px;
  // background-color: #cc1b1228;
  overflow: hidden;
  &.zoom-30 {
    animation: zoomAnimationgrid 10s infinite alternate;
  }
  &.box-shadow {
    box-shadow: rgba(0, 0, 0, 0) 0px 5px 15px; /* Start with no shadow */
    transition: box-shadow 1.5s ease; /* Add a transition for smooth effect */
    animation: revealBoxShadow 1.5s forwards; /* Animation for revealing box shadow */
    animation-delay: 2s; /* Delay the animation by 2 seconds */
  }
}

@keyframes revealBoxShadow {
  to {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; /* Apply shadow at the end of the animation */
  }
}

.img-container {
  transform: translateX(0%);
  width: 271px;
  height: 296px;
  overflow: hidden;

  img {
    border: 0; /* Remove border */
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
    display: inline-block; /* Reset display property */
    width: 271px;
    height: 296px;
    position: absolute;
    top: 0%;
    right: 0%;
    transform: scale(1.3);
    animation: pic 2s;
    animation-fill-mode: forwards;
  }

  .overlay {
    width: 271px;
    height: 296px;
    position: absolute;
    transform: scaleX(0);
    transform-origin: 0% 50%;
    animation: overlay 1.8s forwards;
    overflow: hidden;
    opacity: 1;

    &.arabic {
      background-color: #a7463f;
    }
    &.french {
      background-color: #f38174;
    }
    &.portuguese {
      background-color: #f26851;
    }
    &.korean {
      background-color: #fc9595;
    }
    &.chinese {
      background-color: #e8242a;
    }
    &.kurdish {
      background-color: #f04f65;
    }
    &.spanish {
      background-color: #d65e6a;
    }
    &.russian {
      background-color: #cc1b12;
    }
  }
}

.scaled-blackRectangle {
  background-color: black;
  opacity: 0.4;
  position: absolute;
  top: 77%;
  left: 6.6%;
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scaleX(0);
  z-index: 1;
  animation: scaleAnimation 1.5s forwards;
  transform-origin: left center;
  animation-delay: 1.5s;
}

.scaled-whiteline {
  background-color: white;
  position: absolute;
  top: 169px;
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  z-index: 1;
  animation: scaleAnimation 2s forwards;
  transform-origin: left center;
}

.scaled-rectangle-topRight {
  position: absolute;
  top: 0;
  right: 0;
  height: 18%;
  width: 3.2%;
  z-index: 1;
  transform: scaleY(0);
  transform-origin: top center; // Set the transform origin to top center
  animation: scaleAnimationTopToBottom 1.5s forwards; // Use a new animation name
  animation-delay: 1.5s;

  &.arabic {
    background-color: #a7463f;
  }
  &.french {
    background-color: #f38174;
  }
  &.portuguese {
    background-color: #f26851;
  }
  &.korean {
    background-color: #fc9595;
  }
  &.chinese {
    background-color: #e8242a;
  }
  &.kurdish {
    background-color: #f04f65;
  }
  &.spanish {
    background-color: #d65e6a;
  }
  &.russian {
    background-color: #cc1b12;
  }
}

@keyframes scaleAnimationTopToBottom {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.inner-text {
  position: absolute;
  top: 72%;
  left: 1%;
  height: 10%;
  width: 100%;
  font-size: 23px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  animation: fadeAnimation 1.5s forwards;
  z-index: 1;
  animation-delay: 3s;
  opacity: 0;
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleAnimation {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes pic {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1.01);
  }
}

@keyframes overlay {
  0% {
    transform: scaleX(0);
    transform-origin: 100% 50%;
  }
  50% {
    transform: scaleX(1);
    transform-origin: 100% 50%;
  }
  51% {
    transform: scaleX(1);
    transform-origin: 0% 50%;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 0% 50%;
  }
}

@keyframes zoomAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes zoomAnimationgrid {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.08);
  }
}

.mask {
  clip-path: inset(0 0 0 0);
  width: 377px;
  height: 171px;
  // background-color: rgba(255, 255, 255, 0.116);
  overflow: hidden;
  position: relative;
  top: 0;
  z-index: 3;
}

/////////////////////////////// ARABIC //////////////////////////////////

.tower {
  opacity: 0;
  width: 144px;
  height: 171px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/arabic/Tower.png");
  background-size: contain;
  position: absolute;
  top: 0px;
  left: 30px;
  z-index: 2; /* Lower z-index than the mask */
  animation: tower_rise 2s forwards;
  animation-delay: 1.5s;
}
.camel {
  width: 70px;
  height: 53px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/arabic/Camel.png");
  background-size: contain;
  position: absolute;
  top: 119px;
  left: -70px;
  z-index: 2;
  animation: camel_walk 2.5s forwards ease-in-out;
  animation-delay: 2s;
}

.pyramid {
  opacity: 0;
  width: 150px;
  height: 81px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/arabic/Pyramid.png");
  background-size: contain;
  position: absolute;
  top: 0px;
  left: -5.5px;
  z-index: 3; /* Lower z-index than the mask */
  animation: pyramide_rise 2s forwards;
  animation-delay: 0.8s;
}
.arabic_white {
  opacity: 0;
  width: 200px;
  height: 106px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/arabic/Arabic_word_white.png");
  background-size: cover;
  position: absolute;
  top: 46px;
  z-index: 3; /* Lower z-index than the mask */
  animation: word_white_reveal 1.5s forwards ease-in-out;
  animation-delay: 1.5s;
}

.arabic_yellow {
  opacity: 0;
  width: 89px;
  height: 26px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/arabic/Arabic_word_yellow.png");
  background-size: contain;
  position: relative;
  float: right;
  margin-top: 10px;
  z-index: 3; /* Lower z-index than the mask */
  animation: word_yellow_reveal 2s forwards ease-in-out;
  animation-delay: 2s;
}

/////////////////////////////// ENGLISH //////////////////////////////////

.liberty_tower {
  opacity: 0;
  width: 141px;
  height: 165px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/english/Status_liberty.png");
  background-size: contain;
  position: absolute;
  top: 17px;
  left: 41px;
  z-index: 2; /* Lower z-index than the mask */
  animation: liberty_rise 2s forwards;
  animation-delay: 1.5s;
}
.bus {
  width: 80px;
  height: 42px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/english/Bus.png");
  background-size: contain;
  position: absolute;
  top: 129px;
  left: -90px;
  z-index: 3;
  animation: bus_drive 2.5s forwards ease-in-out;
  animation-delay: 2s;
}

.bigbang {
  opacity: 0;
  width: 83px;
  height: 143px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/english/BigBang.png");
  background-size: contain;
  position: absolute;
  top: 0px;
  left: -5.5px;
  z-index: 3; /* Lower z-index than the mask */
  animation: bigbang_rise 2s forwards;
  animation-delay: 0.8s;
}
.english_white {
  opacity: 0;
  width: 161px;
  height: 53px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/english/English_word_white.png");
  background-size: contain;
  position: absolute;
  top: 86px;
  z-index: 3; /* Lower z-index than the mask */
  animation: english_word_white_reveal 1.5s forwards ease-in-out;
  animation-delay: 1.5s;
}

.english_yellow {
  opacity: 0;
  width: 103px;
  height: 26px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/english/English_word_yellow.png");
  background-size: contain;
  position: relative;
  float: right;
  margin-top: 10px;
  z-index: 3; /* Lower z-index than the mask */
  animation: word_yellow_reveal 2s forwards ease-in-out;
  animation-delay: 2s;
}

/////////////////////////////// CHINESE //////////////////////////////////

.wall {
  opacity: 0;
  width: 120px;
  height: 160px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/chinese/Wall.png");
  background-size: contain;
  position: absolute;
  top: 10px;
  left: 41px;
  z-index: 1; /* Lower z-index than the mask */
  animation: wall_rise 2s forwards;
  animation-delay: 1.5s;
}
.dragon {
  opacity: 0;
  width: 76px;
  height: 84px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/chinese/Dragon.png");
  background-size: contain;
  position: relative;
  top: -62px;
  left: 112px;
  z-index: 4;
  animation: dragon_walk 2.5s forwards ease-in-out;
  animation-delay: 2s;
}

.panda {
  opacity: 0;
  width: 82px;
  height: 106px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/chinese/Panda.png");
  background-size: contain;
  position: relative;
  top: -170px;
  left: 3px;
  z-index: 3; /* Lower z-index than the mask */
  animation: panda_slide 2s forwards;
  animation-delay: 0.8s;
}
.chinese_white {
  opacity: 0;
  width: 179px;
  height: 87px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/chinese/Chinese_word_white.png");
  background-size: contain;
  position: absolute;
  top: 49px;
  z-index: 3; /* Lower z-index than the mask */
  animation: chinese_word_white_reveal 1.5s forwards ease-in-out;
  animation-delay: 1.5s;
}

.chinese_yellow {
  opacity: 0;
  width: 104px;
  height: 26px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/chinese/Chinese_word_yellow.png");
  background-size: contain;
  position: relative;
  float: right;
  margin-top: 10px;
  z-index: 3; /* Lower z-index than the mask */
  animation: word_yellow_reveal 2s forwards ease-in-out;
  animation-delay: 2s;
}

/////////////////////////////// FRENCH //////////////////////////////////

.eiffel_tower {
  opacity: 0;
  width: 126px;
  height: 166px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/French/Tour_eiffel.png");
  background-size: contain;
  position: absolute;
  top: 17px;
  left: 41px;
  z-index: 2; /* Lower z-index than the mask */
  animation: liberty_rise 2s forwards;
  animation-delay: 1.5s;
}
.bicycle {
  opacity: 0;
  width: 101px;
  height: 63px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/French/Bicycle.png");
  background-size: contain;
  position: absolute;
  top: 109px;
  left: 173px;
  z-index: 3;
  animation: bicycle_drive 2.5s forwards ease-in-out;
  animation-delay: 2s;
}

.arc_triomphe {
  opacity: 0;
  width: 85px;
  height: 78px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/French/Arc_de_triomphe.png");
  background-size: contain;
  position: absolute;
  top: 93px;
  left: -5.5px;
  z-index: 3; /* Lower z-index than the mask */
  animation: arc_rise 2s forwards;
  animation-delay: 0.8s;
}
.french_white {
  opacity: 0;
  width: 160px;
  height: 57px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/French/French_word_white.png");
  background-size: contain;
  position: absolute;
  top: 86px;
  z-index: 3; /* Lower z-index than the mask */
  animation: french_word_white_reveal 1.5s forwards ease-in-out;
  animation-delay: 1.5s;
}

.french_yellow {
  opacity: 0;
  width: 99px;
  height: 26px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/French/French_word_yellow.png");
  background-size: contain;
  position: relative;
  float: right;
  margin-top: 10px;
  z-index: 3; /* Lower z-index than the mask */
  animation: word_yellow_reveal 2s forwards ease-in-out;
  animation-delay: 2s;
}

/////////////////////////////// KURDISH //////////////////////////////////

.kurdish_tower {
  opacity: 0;
  width: 103px;
  height: 141px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/kurdish/Kurdish_building.png");
  background-size: contain;
  position: absolute;
  top: 28px;
  left: 41px;
  z-index: 2; /* Lower z-index than the mask */
  animation: towerKurdish_rise 2s forwards;
  animation-delay: 0.8s;
}
.kurdish_man {
  opacity: 0;
  width: 41px;
  height: 103px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/kurdish/Kurdish_man.png");
  background-size: contain;
  position: absolute;
  top: 69px;
  left: 138px;
  z-index: 2;
  animation: KurdishMan_rise 2.5s forwards ease;
  animation-delay: 1.5s;
}

.buzuk {
  opacity: 0;
  width: 56px;
  height: 163px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/kurdish/Kurdish_music.png");
  background-size: contain;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 3; /* Lower z-index than the mask */
  animation: buzuk_rise 2s forwards ease;
  animation-delay: 2.3s;
}
.kurdish_white {
  opacity: 0;
  width: 163px;
  height: 72px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/kurdish/Kurdish_word_white.png");
  background-size: cover;
  position: absolute;
  top: 78px;
  z-index: 3; /* Lower z-index than the mask */
  animation: kurdish_word_white_reveal 1.5s forwards ease-in-out;
  animation-delay: 1.5s;
}

.kurdish_yellow {
  opacity: 0;
  width: 108px;
  height: 26px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/kurdish/Kurdish_word_yellow.png");
  background-size: contain;
  position: relative;
  float: right;
  margin-top: 10px;
  z-index: 3; /* Lower z-index than the mask */
  animation: word_yellow_reveal 2s forwards ease-in-out;
  animation-delay: 2s;
}

/////////////////////////////// PORTUGUESE //////////////////////////////////

.portuguese_tower {
  opacity: 0;
  width: 163px;
  height: 136px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/Portuguese/Portuguese_building.png");
  background-size: contain;
  position: absolute;
  top: 32px;
  left: 12px;
  z-index: 2; /* Lower z-index than the mask */
  animation: PortugueseTower_rise 2s forwards;
  animation-delay: 1.5s;
}
.tram {
  opacity: 0;
  width: 100px;
  height: 45px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/Portuguese/Tram.png");
  background-size: contain;
  position: absolute;
  top: 129px;
  left: 65px;
  z-index: 3;
  animation: Tram_slide 2.5s forwards ease-in-out;
  animation-delay: 2s;
}

.coq {
  opacity: 0;
  width: 48px;
  height: 72px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/Portuguese/Coq.png");
  background-size: contain;
  position: absolute;
  top: 100px;
  z-index: 3; /* Lower z-index than the mask */
  animation: Coq_rise 2s forwards;
  animation-delay: 0.8s;
}
.portuguese_white {
  opacity: 0;
  width: 177px;
  height: 60px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/Portuguese/Portuguese_word_white.png");
  background-size: contain;
  position: absolute;
  top: 86px;
  z-index: 3; /* Lower z-index than the mask */
  animation: kurdish_word_white_reveal 1.5s forwards ease-in-out;
  animation-delay: 1.5s;
}

.portuguese_yellow {
  opacity: 0;
  width: 161px;
  height: 26px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/Portuguese/Portuguese_word_yellow.png");
  background-size: contain;
  position: relative;
  float: right;
  margin-top: 10px;
  z-index: 3; /* Lower z-index than the mask */
  animation: word_yellow_reveal 2s forwards ease-in-out;
  animation-delay: 2s;
}

/////////////////////////////// SPANISH //////////////////////////////////

.spanish_tower {
  opacity: 0;
  width: 131px;
  height: 150px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/Spanish/Spanish_building.png");
  background-size: contain;
  position: absolute;
  top: 19px;
  left: 8px;
  z-index: 2; /* Lower z-index than the mask */
  animation: SpanishTower_rise 2s forwards;
  animation-delay: 1.5s;
}
.toros {
  opacity: 0;
  width: 76px;
  height: 40px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/Spanish/Toros.png");
  background-size: contain;
  position: absolute;
  top: 132px;
  left: 0px;
  z-index: 3;
  animation: Toros_slide 2.5s forwards ease-in-out;
  animation-delay: 2s;
}

.spanish_music {
  opacity: 0;
  width: 86px;
  height: 80px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/Spanish/Spanish_music.png");
  background-size: contain;
  position: absolute;
  top: 90px;
  left: 104px;
  z-index: 3; /* Lower z-index than the mask */
  animation: Spanish_music_rise 2s forwards;
  animation-delay: 0.8s;
}
.spanish_white {
  opacity: 0;
  width: 167px;
  height: 71px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/Spanish/Spanish_word_white.png");
  background-size: contain;
  position: absolute;
  top: 86px;
  z-index: 3; /* Lower z-index than the mask */
  animation: spanish_word_white_reveal 1.5s forwards ease-in-out;
  animation-delay: 1.5s;
}

.spanish_yellow {
  opacity: 0;
  width: 100px;
  height: 26px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/Spanish/Spanish_word_yellow.png");
  background-size: contain;
  position: relative;
  float: right;
  margin-top: 10px;
  z-index: 3; /* Lower z-index than the mask */
  animation: word_yellow_reveal 2s forwards ease-in-out;
  animation-delay: 2s;
}


/////////////////////////////// RUSSIAN //////////////////////////////////

.russian_tower {
  opacity: 0;
  width: 156px;
  height: 140px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/russian/Russian_building.png");
  background-size: contain;
  position: absolute;
  top: 31px;
  left: 17px;
  z-index: 2; /* Lower z-index than the mask */
  animation: RussianTower_rise 2s forwards;
  animation-delay: 1.5s;
}
.doll {
  opacity: 0;
  width: 43px;
  height: 65px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/russian/Russian_doll.png");
  background-size: contain;
  position: absolute;
  top: 106px;
  left: 0px;
  z-index: 3;
  animation: Doll_slide 2.5s forwards ease-in-out;
  animation-delay: 2s;
}

.russian_music {
  opacity: 0;
  width: 59px;
  height: 110px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/russian/Russian_music.png");
  background-size: contain;
  position: absolute;
  top: 61px;
  left: 136px;
  z-index: 3; /* Lower z-index than the mask */
  animation: Russian_music_rise 2s forwards;
  animation-delay: 0.8s;
}
.russian_white {
  opacity: 0;
  width: 172px;
  height: 57px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/russian/Russian_word_white.png");
  background-size: contain;
  position: absolute;
  top: 86px;
  z-index: 3; /* Lower z-index than the mask */
  animation: russian_word_white_reveal 1.5s forwards ease-in-out;
  animation-delay: 1.5s;
}

.russian_yellow {
  opacity: 0;
  width: 101px;
  height: 26px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/russian/Russian_word_yellow.png");
  background-size: contain;
  position: relative;
  float: right;
  margin-top: 10px;
  z-index: 3; /* Lower z-index than the mask */
  animation: word_yellow_reveal 2s forwards ease-in-out;
  animation-delay: 2s;
}


/////////////////////////////// KOREAN //////////////////////////////////

.korean_tower {
  opacity: 0;
  width: 186px;
  height: 92px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/korean/Korean_building.png");
  background-size: contain;
  position: absolute;
  top: 76px;
  z-index: 2; /* Lower z-index than the mask */
  animation: KoreanTower_rise 2s forwards;
  animation-delay: 1.5s;
}
.korean_women {
  opacity: 0;
  width: 33px;
  height: 84px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/korean/Korean_girl.png");
  background-size: contain;
  position: absolute;
  top: 88px;
  left: 131px;
  z-index: 3;
  animation: Korean_women_slide 3s forwards ease-in-out;
  animation-delay: 2s;
}

.korean_tower_small {
  opacity: 0;
  width: 57px;
  height: 82px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/korean/Korean_building_small.png");
  background-size: contain;
  position: absolute;
  top: 90px;
  z-index: 3; /* Lower z-index than the mask */
  animation: Korean_tower_small_rise 2s forwards;
  animation-delay: 0.8s;
}
.korean_white {
  opacity: 0;
  width: 192px;
  height: 73px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/korean/Korean_word_white.png");
  background-size: contain;
  position: absolute;
  top: 86px;
  z-index: 3; /* Lower z-index than the mask */
  animation: russian_word_white_reveal 1.5s forwards ease-in-out;
  animation-delay: 1.5s;
}

.korean_yellow {
  opacity: 0;
  width: 100px;
  height: 26px;
  background-image: url("../../../assets/Images/Bilingual/Elements_Parts/korean/Korean_word_yellow.png");
  background-size: contain;
  position: relative;
  float: right;
  margin-top: 10px;
  z-index: 3; /* Lower z-index than the mask */
  animation: word_yellow_reveal 2s forwards ease-in-out;
  animation-delay: 2s;
}


////////////////////// ARABIC //////////////////////

@keyframes pyramide_rise {
  0% {
    opacity: 1;
    top: 173px;
  }
  100% {
    opacity: 1;
    top: 94px;
  }
}

@keyframes tower_rise {
  0% {
    opacity: 1;
    top: 172px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes camel_walk {
  0% {
    opacity: 1;
    left: -70px;
  }
  100% {
    opacity: 1;
    left: 104px;
  }
}

@keyframes word_white_reveal {
  0% {
    opacity: 0;
    right: -153px;
  }
  100% {
    opacity: 1;
    right: 0px;
  }
}

@keyframes word_yellow_reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

////////////////////// ENGLISH //////////////////////

@keyframes bigbang_rise {
  0% {
    opacity: 1;
    top: 183px;
  }
  100% {
    opacity: 1;
    top: 27px;
  }
}

@keyframes liberty_rise {
  0% {
    opacity: 1;
    top: 183px;
  }
  100% {
    opacity: 1;
    top: 18px;
  }
}

@keyframes bus_drive {
  0% {
    opacity: 1;
    left: -90px;
  }
  100% {
    opacity: 1;
    left: 24px;
  }
}

@keyframes english_word_white_reveal {
  0% {
    opacity: 0;
    right: -153px;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

////////////////////// CHINESE //////////////////////

@keyframes panda_slide {
  0% {
    opacity: 1;
    left: -90px;
  }
  100% {
    opacity: 1;
    left: 3px;
  }
}

@keyframes wall_rise {
  0% {
    opacity: 1;
    top: 177px;
  }
  100% {
    opacity: 1;
    top: 10x;
  }
}

@keyframes dragon_walk {
  0% {
    opacity: 1;
    left: -90px;
  }
  100% {
    opacity: 1;
    left: 110px;
  }
}

@keyframes chinese_word_white_reveal {
  0% {
    opacity: 0;
    right: -170px;
  }
  100% {
    opacity: 1;
    right: 0px;
  }
}

////////////////////// FRENCH //////////////////////

@keyframes arc_rise {
  0% {
    opacity: 1;
    top: 183px;
  }
  100% {
    opacity: 1;
    top: 94px;
  }
}

@keyframes eiffel_rise {
  0% {
    opacity: 1;
    top: 183px;
  }
  100% {
    opacity: 1;
    top: 18px;
  }
}

@keyframes bicycle_drive {
  0% {
    opacity: 1;
    left: -173px;
  }
  100% {
    opacity: 1;
    left: 83px;
  }
}

@keyframes french_word_white_reveal {
  0% {
    opacity: 0;
    right: -153px;
  }
  100% {
    opacity: 1;
    right: 0px;
  }
}

////////////////////// KURDISH //////////////////////

@keyframes KurdishMan_rise {
  0% {
    opacity: 1;
    top: 177px;
  }
  100% {
    opacity: 1;
    top: 69px;
  }
}

@keyframes towerKurdish_rise {
  0% {
    opacity: 1;
    top: 177px;
  }
  100% {
    opacity: 1;
    top: 28px;
  }
}

@keyframes buzuk_rise {
  0% {
    opacity: 1;
    left: -50px;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}

@keyframes kurdish_word_white_reveal {
  0% {
    opacity: 0;
    right: -153px;
  }
  100% {
    opacity: 1;
    right: 0px;
  }
}

////////////////////// PORTUGUESE //////////////////////

@keyframes PortugueseTower_rise {
  0% {
    opacity: 1;
    top: 175px;
  }
  100% {
    opacity: 1;
    top: 32px;
  }
}

@keyframes Coq_rise {
  0% {
    opacity: 1;
    top: 175px;
  }
  100% {
    opacity: 1;
    top: 100px;
  }
}

@keyframes Tram_slide {
  0% {
    opacity: 1;
    left: -108px;
  }
  100% {
    opacity: 1;
    left: 65px;
  }
}

@keyframes kurdish_word_white_reveal {
  0% {
    opacity: 0;
    right: -153px;
  }
  100% {
    opacity: 1;
    right: 0px;
  }
}


////////////////////// SPANISH //////////////////////

@keyframes SpanishTower_rise {
  0% {
    opacity: 1;
    top: 175px;
  }
  100% {
    opacity: 1;
    top: 19px;
  }
}

@keyframes Spanish_music_rise {
  0% {
    opacity: 1;
    top: 175px;
  }
  100% {
    opacity: 1;
    top: 90px;
  }
}

@keyframes Toros_slide {
  0% {
    opacity: 1;
    left: -77px;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}

@keyframes spanish_word_white_reveal {
  0% {
    opacity: 0;
    right: -153px;
  }
  100% {
    opacity: 1;
    right: 0px;
  }
}


////////////////////// RUSSIAN //////////////////////

@keyframes RussianTower_rise {
  0% {
    opacity: 1;
    top: 175px;
  }
  100% {
    opacity: 1;
    top: 31px;
  }
}

@keyframes Russian_music_rise {
  0% {
    opacity: 1;
    top: 183px;
  }
  100% {
    opacity: 1;
    top: 61px;
  }
}

@keyframes Doll_slide {
  0% {
    opacity: 1;
    left: -46px;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}

@keyframes russian_word_white_reveal {
  0% {
    opacity: 0;
    right: -153px;
  }
  100% {
    opacity: 1;
    right: 0px;
  }
}


////////////////////// KOREAN //////////////////////

@keyframes KoreanTower_rise {
  0% {
    opacity: 1;
    top: 175px;
  }
  100% {
    opacity: 1;
    top: 76px;
  }
}

@keyframes Korean_tower_small_rise {
  0% {
    opacity: 1;
    top: 175px;
  }
  100% {
    opacity: 1;
    top: 90px;
  }
}

@keyframes Korean_women_slide {
  0% {
    opacity: 1;
    left: -52px;
  }
  100% {
    opacity: 1;
    left: 130px;
  }
}

@keyframes korean_word_white_reveal {
  0% {
    opacity: 0;
    right: -153px;
  }
  100% {
    opacity: 1;
    right: 0px;
  }
}

