<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="cover-container">
        <img class="cover-image">
        <div class="grid-container">

            <div class="grid-item" [class.animate__animated]="true" [class.animate__bounceOut]="isBouncing_1"
                (click)="changeClass_1()">
                <div class="mask">
                    <div class="liberty_tower">
                    </div>
                    <div class="bigbang">
                    </div>
                    <div class="bus">
                    </div>
                    <div class="scaled-whiteline "></div>
                    <div class="english_white">
                    </div>
                </div>
                <div class="english_yellow">
                </div>
            </div>

            <div class="grid-item" [class.animate__animated]="true" [class.animate__bounceOut]="isBouncing_2"
                (click)="changeClass_2()">

                <div class="mask">
                    <div class="tower">
                    </div>
                    <div class="pyramid">
                    </div>
                    <div class="camel">
                    </div>
                    <div class="scaled-whiteline "></div>
                    <div class="arabic_white">
                    </div>
                </div>
                <div class="arabic_yellow">

                </div>
            </div>

            <div class="grid-item" [class.animate__animated]="true" [class.animate__bounceOut]="isBouncing_3"
                (click)="changeClass_3()">

                <div class="mask">
                    <div class="wall">
                    </div>
                    <div class="scaled-whiteline "></div>
                    <div class="chinese_white">
                    </div>
                </div>
                <div class="chinese_yellow">
                </div>
                <div class="dragon">
                </div>
                <div class="panda">
                </div>


            </div>

            <div class="grid-item" [class.animate__animated]="true" [class.animate__bounceOut]="isBouncing_4"
                (click)="changeClass_4()">
                <div class="mask">
                    <div class="eiffel_tower">
                    </div>

                    <div class="french_white">
                    </div>
                    <div class="bicycle">
                    </div>
                    <div class="arc_triomphe">
                    </div>
                    <div class="scaled-whiteline"></div>
                </div>
                <div class="french_yellow">
                </div>
            </div>

            <div class="grid-item" [class.animate__animated]="true" [class.animate__bounceOut]="isBouncing_5"
                (click)="changeClass_5()">

                <div class="mask">
                    <div class="kurdish_tower">
                    </div>

                    <div class="kurdish_white">
                    </div>
                    <div class="buzuk">
                    </div>
                    <div class="kurdish_man">
                    </div>
                    <div class="scaled-whiteline"></div>
                </div>
                <div class="kurdish_yellow">
                </div>

            </div>

            <div class="grid-item" [class.animate__animated]="true" [class.animate__bounceOut]="isBouncing_6"
                (click)="changeClass_6()">

                <div class="mask">
                    <div class="portuguese_tower">
                    </div>
                    <div class="coq">
                    </div>
                    <div class="tram">
                    </div>
                    <div class="scaled-whiteline "></div>
                    <div class="portuguese_white">
                    </div>
                </div>
                <div class="portuguese_yellow">
                </div>
            </div>

            <div class="grid-item" [class.animate__animated]="true" [class.animate__bounceOut]="isBouncing_7"
                (click)="changeClass_7()">

                <div class="mask">
                    <div class="spanish_tower">
                    </div>
                    <div class="toros">
                    </div>
                    <div class="spanish_music">
                    </div>
                    <div class="scaled-whiteline "></div>
                    <div class="spanish_white">
                    </div>
                </div>
                <div class="spanish_yellow">
                </div>


            </div>

            <div class="grid-item" [class.animate__animated]="true" [class.animate__bounceOut]="isBouncing_8"
                (click)="changeClass_8()">

                <div class="mask">
                    <div class="russian_tower">
                    </div>
                    <div class="doll">
                    </div>
                    <div class="russian_music">
                    </div>
                    <div class="scaled-whiteline "></div>
                    <div class="russian_white">
                    </div>
                </div>
                <div class="russian_yellow">
                </div>
            </div>

            <div class="grid-item" [class.animate__animated]="true" [class.animate__bounceOut]="isBouncing_9"
                (click)="changeClass_9()">

                <div class="mask">
                    <div class="korean_tower">
                    </div>
                    <div class="korean_women">
                    </div>
                    <div class="korean_tower_small">
                    </div>
                    <div class="scaled-whiteline "></div>
                    <div class="korean_white">
                    </div>
                </div>
                <div class="korean_yellow">
                </div>
            </div>
        </div>
        <div class="navigation">
            <a (click)="navigateToLanguageReaders()" class="navigation-items">LANGUAGE READERS</a>
            <a (click)="navigateToAccelerated()" class="navigation-items">ACCELERATED</a>
            <a href="#" class="navigation-items">ENGLISH FOR ADULTS</a>
        </div>
    </div>
</body>

</html>