<!-- flip-iframe.component.html -->
<div class="iframeContainer">
    <a id="backButton" [routerLink]='backButtonPath'></a>
    <iframe [src]="projectUrl"></iframe>
    <div *ngIf="withThumbnails == 'true'" class="ThumbnailsContainer">

        <button id="BookThumb"
            style="background-image: url('assets/Images/CabezaDeVaca/Text-Thumb.png');background-size: cover;background-repeat: no-repeat;background-position: center;"
            (click)="changeProjectUrl('assets/FlipProjects/Cabeza/Reader - Cabeza de Vaca/index.html', 'Reader')"
            [ngClass]="{'selected': selectedProject === 'Reader'}"></button>
        <button id="BookThumb"
            style="background-image: url('assets/Images/CabezaDeVaca/Exercice-Thumb.png');background-size: cover;background-repeat: no-repeat;background-position: center;"
            (click)="changeProjectUrl('assets/FlipProjects/Cabeza/Exercise Book  - Cabeza de Vaca/index.html','Exercise')"
            [ngClass]="{'selected': selectedProject === 'Exercise'}"></button>
        <button id="BookThumb"
            style="background-image: url('assets/Images/CabezaDeVaca/Teachers-Thumb.png');background-size: cover;background-repeat: no-repeat;background-position: center;"
            (click)="changeProjectUrl('assets/FlipProjects/Cabeza/Teachers guide - Cabeza de Vaca/index.html','Teachers')"
            [ngClass]="{'selected': selectedProject === 'Teachers'}"></button>
        <button id="BookThumb"
            style="background-image: url('assets/Images/CabezaDeVaca/Dictionary-Thumb.png');background-size: cover;background-repeat: no-repeat;background-position: center;"
            (click)="changeProjectUrl('assets/FlipProjects/Cabeza/Dictionary  - Cabeza de Vaca/index.html','Dictionary')"
            [ngClass]="{'selected': selectedProject === 'Dictionary'}"></button>
    </div>

    <div *ngIf="withThumbnails == 'false'" style="height: 70px;" class="ThumbnailsContainer">
    </div>
</div>