<div class="top-bar">
    <img class="sabis-logo" src="assets/Images/sabis-logo.png">
    <button style="position: absolute; right: 0;" (click)="toggleFullScreen()">Full screen</button>
  </div>
  
<header *ngIf="!isHomePage()">
    <nav>
        <a routerLink="/home">Historical Readers</a>
        <a routerLink="/home">Language Readers</a>
        <a routerLink="/home">Bilingual</a>
        <a routerLink="/home">Customized Program</a>
        <a routerLink="/home">Accelerated</a>
        <a routerLink="/home">ACE</a>
        <a routerLink="/home">English for Adults</a>
        <a routerLink="/home">French</a>
    </nav>
</header>