/* header-menu.component.scss */

header {
  position: relative;
  height: 55.2px;
  background-color: #30383c;
  display: flex;
  align-items: center;
  justify-content: center;

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    a {
      font-size: 20px;
      font-family: "oswaldRegular";
      text-decoration: none;
      color: white;
      position: relative;

      &.selected {
        border-bottom: 2px solid white;
      }
    }
  }
}

.top-bar {
  display: flex;
  height: 78.35px;
  background-color: white;
  justify-content: center;
  align-items: center;

  .sabis-logo {
    height: 40px;
  }
}

#fullscreen {
  width: 50px;
  height: 50px;
  right: 0;
  border: none;
  position: absolute;
  background-image: url("../../../assets/Images/fullScreen.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.sub-menu-wd {
  font-size: 16px;
  position: absolute;
  width: 126px;
  height: 33px;
  align-items: center;
  justify-content: center;
  display: flex;
  top: 44px;
  right: -2px;
  background-color: #30383c;
  margin-bottom: 3px;

}
