<div class="top-bar">
    <img class="sabis-logo" src="assets/Images/sabis-logo.png">
    <button style="position: absolute; right: 0;" (click)="toggleFullScreen()">Full screen</button>
  </div>
  
<header *ngIf="!isHomePage()">
    <nav>
        <a routerLink="/home" routerLinkActive="selected">Home</a>
        <a routerLink="/home" routerLinkActive="selected">Historical Readers</a>
        <a routerLink="/home" routerLinkActive="selected">Language Readers</a>
        <a routerLink="/home" routerLinkActive="selected">Bilingual</a>
        <a routerLink="/home" routerLinkActive="selected">Customized Program</a>
        <a routerLink="/home" routerLinkActive="selected">Accelerated</a>
        <a routerLink="/home" routerLinkActive="selected">ACE</a>
        <a routerLink="/home" routerLinkActive="selected">English for Adults</a>
        <a routerLink="/home" routerLinkActive="selected">French</a>
    </nav>
</header>