header {
  position: relative;
  height: 55.2px;
  background-color: #30383c;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
a {
  font-size: 20px;
  font-family: "oswaldRegular";
  text-decoration: none;
  color: white;
}

.top-bar {
    display: flex;
    height: 78.35px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sabis-logo {

    height: 40px;
}

.selected {

background-color: aqua;

}
