.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  width: 85vw;
  height: 85vh;
  object-fit: contain;
}

.navigationbuttonlg {
  position: absolute;
  background-color: transparent;
  width: 70%;
  border: none;
  top: 39%;
  height: 100px;

  &.english {
    top: 50.75%;
    width: 58.1vw !important;
  }
  &.arabic {
    top: 39.2%;
    width: 58.1vw !important;
  }
  &.french {
    top: 62%;
    width: 58.1vw !important;
  }
  &.portuguese {
    top: 50.5%;
    width: 58.1vw !important;
  }
  &.spanish {
    top: 73.2%;
    width: 58.1vw !important;
  }
  &.math {
    top: 61.9%;
    width: 58.1vw !important;
  }
}
.animatedRow {
  position: absolute;
  border: none;

  height: -moz-fit-content !important;
  height: fit-content !important;

  &.english {
    top: 50.75%;
    width: 58.1vw !important;
  }
  &.arabic {
    top: 39.2%;
    width: 58.1vw !important;
  }
  &.french {
    top: 62%;
    width: 58.1vw !important;
  }
  &.portuguese {
    top: 50.5%;
    width: 58.1vw !important;
  }
  &.spanish {
    top: 73.2%;
    width: 58.1vw !important;
  }
  &.math {
    top: 61.9%;
    width: 58.1vw !important;
  }
}

#backButton {
  width: 43px;
  height: 45px;
  z-index: 30 !important;
  position: absolute;
  top: 55%;
  left: 0.5%;
  background-image: url("../../../assets/Images/back.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-height: 950px) {
  .image-container img {
    width: 87vw;
    height: 87vh;
    object-fit: contain;
  }
  .animatedRow {
    &.english {
      top: 49.39% !important;
      width: 69.8vw !important;
    }
    &.arabic {
      top: 37.6% !important;
      width: 69.8vw !important;
    }
    &.french {
      top: 60.9% !important;
      width: 69.8vw !important;
    }
    &.portuguese {
      top: 49.2% !important;
      width: 69.8vw !important;
    }
    &.spanish {
      top: 72.4% !important;
      width: 69.8vw !important;
    }
    &.math {
      top: 60.8% !important;
      width: 69.8vw !important;
    }
  }

  .navigationbuttonlg {
    &.english {
      top: 49.39% !important;
      width: 69.8vw !important;
    }
    &.arabic {
      top: 37.6% !important;
      width: 69.8vw !important;
    }
    &.french {
      top: 60.9% !important;
      width: 69.8vw !important;
    }
    &.portuguese {
      top: 49.2% !important;
      width: 69.8vw !important;
    }
    &.spanish {
      top: 72.4% !important;
      width: 69.8vw !important;
    }
    &.math {
      top: 60.8% !important;
      width: 69.8vw !important;
    }
  }
}
