<div *ngIf="selectedProject === 'English'" class="image-container">
    <img src="assets/Images/Grids/English.png">

    <button (click)="navigateToHistoricalReader()" class="navigationbutton"></button>
</div>

<div *ngIf="selectedProject === 'Arabic'" class="image-container">
    <img src="assets/Images/Grids/Arabic.png">
    <button (click)="navigateToHistoricalReader()" class="navigationbutton"></button>
</div>

<div *ngIf="selectedProject === 'Chinese'" class="image-container">
    <img src="assets/Images/Grids/Arabic.png">
    <button (click)="navigateToHistoricalReader()" class="navigationbutton"></button>
</div>

<div *ngIf="selectedProject === 'French'" class="image-container">
    <img src="assets/Images/Grids/French.png">
    <button (click)="navigateToHistoricalReader()" class="navigationbutton"></button>
</div>

<div *ngIf="selectedProject === 'Kurdish'" class="image-container">
    <img src="assets/Images/Grids/Kurdish.png">
</div>

<div *ngIf="selectedProject === 'Portuguese'" class="image-container">
    <img src="assets/Images/Grids/Portuguese.png">
    <button (click)="navigateToHistoricalReader()" class="navigationbutton"></button>
</div>

<div *ngIf="selectedProject === 'Spanish'" class="image-container">
    <img src="assets/Images/Grids/Spanish.png">
    <button (click)="navigateToHistoricalReader()" class="navigationbutton"></button>
</div>

<div *ngIf="selectedProject === 'Russian'" class="image-container">
    <img src="assets/Images/Grids/Social-Sciences.png">
    <button (click)="navigateToHistoricalReader()" class="navigationbutton"></button>
</div>

<div *ngIf="selectedProject === 'Korean'" class="image-container">
    <img src="assets/Images/Grids/English-ForAdults.png">
    <button (click)="navigateToHistoricalReader()" class="navigationbutton"></button>
</div>