<div class="container">

        <div class="grid-container">
                <div class="grid-item">
                        <accelerated-slider [covers]="covers_English"
                                [leftImagePath]="'assets/Images/ACE/arrow-ace.png'"
                                [arrowImagePath]="'assets/Images/Accelerated/attachedArrows.png'"
                                dotBackgroundColor="#d4e6e8" word="ENGLISH"></accelerated-slider>
                </div>
                <div class="grid-item"> <accelerated-slider [covers]="covers_French"
                                [leftImagePath]="'assets/Images/ACE/arrow-ace.png'"
                                dotBackgroundColor="#d4e6e8" word="FRENCH"></accelerated-slider></div>
                <div class="grid-item"> <accelerated-slider [covers]="covers_Math"
                                [leftImagePath]="'assets/Images/ACE/arrow-ace.png'"
                                [arrowImagePath]="'assets/Images/Accelerated/attachedArrows.png'"
                                dotBackgroundColor="#d4e6e8" word="MATHEMATICS"></accelerated-slider></div>
                <div class="grid-item"> <accelerated-slider [covers]="covers_Spanish"
                                [leftImagePath]="'assets/Images/ACE/arrow-ace.png'"
                                [arrowImagePath]="'assets/Images/Accelerated/attachedArrows.png'"
                                dotBackgroundColor="#d4e6e8" word="SPANISH"></accelerated-slider></div>
                <div class="grid-item"> <accelerated-slider [covers]="covers_Arabic"
                                [leftImagePath]="'assets/Images/ACE/arrow-ace.png'"
                                [arrowImagePath]="'assets/Images/Accelerated/attachedArrows.png'"
                                dotBackgroundColor="#d4e6e8" word="ARABIC"></accelerated-slider></div>
                <div class="grid-item"> <accelerated-slider [covers]="covers_Portuguese"
                        [leftImagePath]="'assets/Images/ACE/arrow-ace.png'"
                        [dotBackgroundColor]="'#d4e6e8'" [word]="'PORTUGUESE'">
    </accelerated-slider>
    </div>
        </div>
</div>