.container {
  //background-color: #21425e;
  height: 100vh;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  scale: 0.9;
  height: 100vh;
  margin-top: -30px;
}

.grid-item {
  font-size: 30px;
  text-align: center;
  height: 250px;
}
#backButton {
  width: 43px;
  height: 45px;
  z-index: 30 !important;
  position: absolute;
  top: 55%;
  left: 0.5%;
  background-image: url("../../../assets/Images/back.png");
  background-size: contain;
  background-repeat: no-repeat;
}
body {
  background-color: #21425e !important;
}
@media screen and (min-height: 950px) {
  .container {
    height: 90vh;
  }
  .grid-container {
    height: 85vh;
    scale: 0.95;
    padding-top: 25px;
  }
  .grid-item {
    height: 200px;
  }
}
