<div class="container">

    <div class="grid-container">
        <div class="grid-item">
            <accelerated-slider [covers]="covers_french" [leftImagePath]="'assets/Images/Accelerated/Down-arrow.png'"
                [arrowImagePath]="'assets/Images/Accelerated/attachedArrows.png'"
                dotBackgroundColor="#d4e6e8"
                word="ENGLISH"></accelerated-slider>
        </div>
        <div class="grid-item"> <accelerated-slider [covers]="covers_french"
                [leftImagePath]="'assets/Images/Accelerated/Down-arrow.png'"
                [arrowImagePath]="'assets/Images/Accelerated/attachedArrows.png'"
                dotBackgroundColor="#d4e6e8"
                word="FRENCH"></accelerated-slider></div>
        <div class="grid-item"> <accelerated-slider [covers]="covers_french"
                [leftImagePath]="'assets/Images/Accelerated/Down-arrow.png'"
                [arrowImagePath]="'assets/Images/Accelerated/attachedArrows.png'"
                dotBackgroundColor="#d4e6e8" word="MATHEMATICS"></accelerated-slider></div>
        <div class="grid-item"> <accelerated-slider [covers]="covers_french"
                [leftImagePath]="'assets/Images/Accelerated/Down-arrow.png'"
                [arrowImagePath]="'assets/Images/Accelerated/attachedArrows.png'"
                dotBackgroundColor="#d4e6e8" word="SPANISH"></accelerated-slider></div>
        <div class="grid-item"> <accelerated-slider [covers]="covers_french"
                [leftImagePath]="'assets/Images/Accelerated/Down-arrow.png'"
                [arrowImagePath]="'assets/Images/Accelerated/attachedArrows.png'"
                dotBackgroundColor="#d4e6e8" word="ARABIC"></accelerated-slider></div>
        <div class="grid-item"> <accelerated-slider [covers]="covers_french"
                [leftImagePath]="'assets/Images/Accelerated/Down-arrow.png'"
                [arrowImagePath]="'assets/Images/Accelerated/attachedArrows.png'"
                dotBackgroundColor="#d4e6e8" word="PORTUGUESE"></accelerated-slider></div>
    </div>
</div>