<div class="container">

    <div class="grid-container">
        <img class="title" src="assets/Images/ArtsAndHumanities/Art/PageElements/art-title.png">
        <div class="grid-item">

            <img class="cover" [class.animate__animated]="true" [class.animate__zoomIn]="true"
                src="assets/Images/ArtsAndHumanities/Art/PageElements/art-01.png">
        </div>

        <div class="grid-item">
            <img class="cover" [class.animate__animated]="true" [class.animate__zoomIn]="true"
                src="assets/Images/ArtsAndHumanities/Art/PageElements/art-02.png">
        </div>

        <div class="grid-item">
            <img class="cover" [class.animate__animated]="true" [class.animate__zoomIn]="true"
                src="assets/Images/ArtsAndHumanities/Art/PageElements/art-03.png">
        </div>

        <div class="grid-item">
            <img class="cover" [class.animate__animated]="true" [class.animate__zoomIn]="true"
                src="assets/Images/ArtsAndHumanities/Art/PageElements/art-04.png">
        </div>

        <div class="grid-item">
            <img class="cover" [class.animate__animated]="true" [class.animate__zoomIn]="true"
                src="assets/Images/ArtsAndHumanities/Art/PageElements/art-05.png">
        </div>

        <div class="grid-item">
            <img class="cover" [class.animate__animated]="true" [class.animate__zoomIn]="true"
                src="assets/Images/ArtsAndHumanities/Art/PageElements/art-06.png">
        </div>

        <div class="grid-item">

            <img class="cover" [class.animate__animated]="true" [class.animate__zoomIn]="true"
                src="assets/Images/ArtsAndHumanities/Art/PageElements/art-07.png">
        </div>

        <div class="grid-item">

            <img class="cover" [class.animate__animated]="true" [class.animate__zoomIn]="true"
                src="assets/Images/ArtsAndHumanities/Art/PageElements/art-08.png">
        </div>

        <div class="grid-item">

            <img class="cover" [class.animate__animated]="true" [class.animate__zoomIn]="true"
                src="assets/Images/ArtsAndHumanities/Art/PageElements/art-09.png">
        </div>

        <div class="grid-item">

            <img class="cover" [class.animate__animated]="true" [class.animate__zoomIn]="true"
                src="assets/Images/ArtsAndHumanities/Art/PageElements/art-10.png">
        </div>
    </div>