.cover-container {
  height: calc(100vh - 133.5px);
  display: flex;
  background-image: url('../../../assets/Images/Historical.png');
  background-repeat: no-repeat;
  background-position: center center;
  justify-content: center;
  align-items: center;
  background-size: contain;
}
button {
  position: absolute;
  top: 40px;
  left: 40px;
}
