<div #coverContainerElement class="container animate__animated animate__zoomIn">
  <div class="image-container">
    <img src="../../../assets/Images/Historical_noBook.png" alt="background">
    <div>
      <a class="cabeza" [class.show]="isZooming_cabeza" [class.animate__animated]="isZooming_cabeza"
        [class.animate__bounceIn]="isZooming_cabeza" [class.animate__bounceOut]="isBouncingOut_1" (click)="changeClass_1()" >
      </a>
      <div [class.animate__bounceIn]="isBouncing_cabeza" [class.show]="isBouncing_cabeza"
        class="animate__animated cabeza_circle"></div>
      <div [class.show]="isScaling_cabeza" class="cabeza_line"></div>
    </div>

    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <div>
      <a class="crazy" [class.show]="isZooming_crazy" [class.animate__animated]="isZooming_crazy"
        [class.animate__bounceIn]="isZooming_crazy" [class.animate__bounceOut]="isBouncingOut_2" (click)="changeClass_2()" >
      </a>
      <div [class.animate__bounceIn]="isBouncing_crazy" [class.show]="isBouncing_crazy"
        class="animate__animated crazy_circle"></div>
      <div [class.show]="isScaling_crazy" class="crazy_line"></div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div>
      <a class="american" [class.show]="isZooming_american" [class.animate__animated]="isZooming_american"
        [class.animate__bounceIn]="isZooming_american" [class.animate__bounceOut]="isBouncingOut_3" (click)="changeClass_3()" >
      </a>
      <div [class.animate__bounceIn]="isBouncing_american" [class.show]="isBouncing_american"
        class="animate__animated american_circle"></div>
      <div [class.show]="isScaling_american" class="american_line"></div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <div>
      <a class="thomas" [class.show]="isZooming_thomas" [class.animate__animated]="isZooming_thomas"
        [class.animate__bounceIn]="isZooming_thomas" [class.animate__bounceOut]="isBouncingOut_4" (click)="changeClass_4()" >
      </a>
      <div [class.animate__bounceIn]="isBouncing_thomas" [class.show]="isBouncing_thomas"
        class="animate__animated thomas_circle"></div>
      <div [class.show]="isScaling_thomas" class="thomas_line"></div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <div>
      <a class="freedom" [class.show]="isZooming_freedom" [class.animate__animated]="isZooming_freedom"
        [class.animate__bounceIn]="isZooming_freedom" [class.animate__bounceOut]="isBouncingOut_5" (click)="changeClass_5()" >
      </a>
      <div [class.animate__bounceIn]="isBouncing_freedom" [class.show]="isBouncing_freedom"
        class="animate__animated freedom_circle"></div>
      <div [class.show]="isScaling_freedom" class="freedom_line"></div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <div>
      <a class="tuskegee" [class.show]="isZooming_tuskegee" [class.animate__animated]="isZooming_tuskegee"
        [class.animate__bounceIn]="isZooming_tuskegee" [class.animate__bounceOut]="isBouncingOut_6" (click)="changeClass_6()" >
      </a>
      <div [class.animate__bounceIn]="isBouncing_tuskegee" [class.show]="isBouncing_tuskegee"
        class="animate__animated tuskegee_circle"></div>
      <div [class.show]="isScaling_tuskegee" class="tuskegee_line"></div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <div>
      <a class="fransisco" [class.show]="isZooming_fransisco" [class.animate__animated]="isZooming_fransisco"
        [class.animate__bounceIn]="isZooming_fransisco" [class.animate__bounceOut]="isBouncingOut_7" (click)="changeClass_7()" >
      </a>
      <div [class.animate__bounceIn]="isBouncing_fransisco" [class.show]="isBouncing_fransisco"
        class="animate__animated fransisco_circle"></div>
      <div [class.show]="isScaling_fransisco" class="fransisco_line"></div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <div>
      <a class="thehawk" [class.show]="isZooming_thehawk" [class.animate__animated]="isZooming_thehawk"
        [class.animate__bounceIn]="isZooming_thehawk" [class.animate__bounceOut]="isBouncingOut_8" (click)="changeClass_8()" >
      </a>
      <div [class.animate__bounceIn]="isBouncing_thehawk" [class.show]="isBouncing_thehawk"
        class="animate__animated thehawk_circle"></div>
      <div [class.show]="isScaling_thehawk" class="thehawk_line"></div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <a class="hanibal" class="animate__animated animate__zoomIn" (click)="changeClass_1()" ></a>
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <div>
      <a class="queen" [class.show]="isZooming_queen" [class.animate__animated]="isZooming_queen"
        [class.animate__bounceIn]="isZooming_queen" [class.animate__bounceOut]="isBouncingOut_9" (click)="changeClass_9()" >
      </a>
      <div [class.animate__bounceIn]="isBouncing_queen" [class.show]="isBouncing_queen"
        class="animate__animated queen_circle"></div>
      <div [class.show]="isScaling_queen" class="queen_line"></div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <div>
      <a class="shaka" [class.show]="isZooming_shaka" [class.animate__animated]="isZooming_shaka"
        [class.animate__bounceIn]="isZooming_shaka" [class.animate__bounceOut]="isBouncingOut_10" (click)="changeClass_10()" >
      </a>
      <div [class.animate__bounceIn]="isBouncing_shaka" [class.show]="isBouncing_shaka"
        class="animate__animated shaka_circle"></div>
      <div [class.show]="isScaling_shaka" class="shaka_line"></div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <div>
      <a class="hatchepsuit" [class.show]="isZooming_hatchepsuit" [class.animate__animated]="isZooming_hatchepsuit"
        [class.animate__bounceIn]="isZooming_hatchepsuit" [class.animate__bounceOut]="isBouncingOut_11" (click)="changeClass_11()" >

      </a>
      <div [class.animate__bounceIn]="isBouncing_hatchepsuit" [class.show]="isBouncing_hatchepsuit"
        class="animate__animated hatchepsuit_circle"></div>
      <div [class.show]="isScaling_hatchepsuit" class="hatchepsuit_line"></div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <div>
      <a class="hamurabi" [class.show]="isZooming_hamurabi" [class.animate__animated]="isZooming_hamurabi"
        [class.animate__bounceIn]="isZooming_hamurabi" [class.animate__bounceOut]="isBouncingOut_12" (click)="changeClass_12()" >
      </a>
      <div [class.animate__bounceIn]="isBouncing_hamurabi" [class.show]="isBouncing_hamurabi"
        class="animate__animated hamurabi_circle"></div>
      <div [class.show]="isScaling_hamurabi" class="hamurabi_line"></div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <div>
      <a class="catherine" [class.show]="isZooming_catherine" [class.animate__animated]="isZooming_catherine"
        [class.animate__bounceIn]="isZooming_catherine" [class.animate__bounceOut]="isBouncingOut_13" (click)="changeClass_13()" >
      </a>
      <div [class.animate__bounceIn]="isBouncing_catherine" [class.show]="isBouncing_catherine"
        class="animate__animated catherine_circle"></div>
      <div [class.show]="isScaling_catherine" class="catherine_line"></div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <div>
      <a class="genghis" [class.show]="isZooming_genghis" [class.animate__animated]="isZooming_genghis"
        [class.animate__bounceIn]="isZooming_genghis" [class.animate__bounceOut]="isBouncingOut_14" (click)="changeClass_14()" >
      </a>
      <div [class.animate__bounceIn]="isBouncing_genghis" [class.show]="isBouncing_genghis"
        class="animate__animated genghis_circle"></div>
      <div [class.show]="isScaling_genghis" class="genghis_line"></div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <div>
      <a class="hungwu" [class.show]="isZooming_hungwu" [class.animate__animated]="isZooming_hungwu"
        [class.animate__bounceIn]="isZooming_hungwu" [class.animate__bounceOut]="isBouncingOut_15" (click)="changeClass_15()" >
      </a>
      <div [class.animate__bounceIn]="isBouncing_hungwu" [class.show]="isBouncing_hungwu"
        class="animate__animated hungwu_circle"></div>
      <div [class.show]="isScaling_hungwu" class="hungwu_line"></div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <div>
      <a class="peter" [class.show]="isZooming_peter" [class.animate__animated]="isZooming_peter"
        [class.animate__bounceIn]="isZooming_peter" [class.animate__bounceOut]="isBouncingOut_16" (click)="changeClass_16()" >
      </a>
      <div [class.animate__bounceIn]="isBouncing_peter" [class.show]="isBouncing_peter"
        class="animate__animated peter_circle"></div>
      <div [class.show]="isScaling_peter" class="peter_line"></div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <div>
      <a class="alexander" [class.show]="isZooming_alexander" [class.animate__animated]="isZooming_alexander"
        [class.animate__bounceIn]="isZooming_alexander" [class.animate__bounceOut]="isBouncingOut_17" (click)="changeClass_17()" >
      </a>
      <div [class.animate__bounceIn]="isBouncing_alexander" [class.show]="isBouncing_alexander"
        class="animate__animated alexander_circle"></div>
      <div [class.show]="isScaling_alexander" class="alexander_line"></div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  </div>
</div>