body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.mask {
  clip-path: inset(0 0 0 0);
  width: 461px;
  height: 491px;
  background-color: rgba(255, 255, 255, 0.116);
  overflow: hidden;
  position: relative;
  top: 0;
  z-index: 3;
}

.scaled-whiteline-horizontal,
.scaled-whiteline-vertical {
  position: absolute;
  background-color: white;
  z-index: 3;
}

.scaled-whiteline-horizontal {
  bottom: 0;
  left: 0;
  height: 3px; /* Line thickness */
  width: 100%; /* Full width */
  transform: scaleX(0); /* Initially invisible */
  transform-origin: bottom left;
  animation: scaleAnimationHorizontal 2s forwards;
}

.scaled-whiteline-vertical {
  top: 0;
  left: 0;
  height: 100%; /* Full height */
  width: 3px; /* Line thickness */
  transform: scaleY(0); /* Initially invisible */
  transform-origin: bottom;
  animation: scaleAnimationVertical 2s forwards;
}

.cover-container {
  height: calc(100vh - 78.35px);
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cover-image {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  animation: zoomAnimation 40s infinite alternate;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #242b2e;
  opacity: 0.6;
  z-index: 2;
}

.grid-container {
  object-fit: fill;
  display: grid;
  position: absolute;
  top: 50%;
  left: 50%;
  gap: 40px;
  transform: translate(-50%, -50%);
  grid-template-columns: auto auto auto;
  z-index: 3;
}

.grid-item {
  font-size: 30px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 461px;
  height: 491px;

  &.zoom-30 {
    animation: zoomAnimationgrid 10s infinite alternate;
  }
}

.blueRectangle {
  opacity: 0;
  width: 461px;
  height: 162px;
  background-image: url("../../../assets/Images/Home/BlueRectangle.png");
  background-size: contain;
  position: absolute;
  z-index: 1;
  animation: Blue_rectangle_rise 2.5s forwards ease;
  animation-delay: 1.6s;
}

.wordLanguages_Top {
  opacity: 0;
  width: 461px;
  height: 333px;
  background-image: url("../../../assets/Images/Home/wordLanguages_top.png");
  background-size: cover;
  position: absolute;
  z-index: 1;
  animation: Top_slide 2.5s forwards ease;
  animation-delay: 1.5s;
}

.world_text {
  opacity: 0;
  width: 187px;
  height: 80px;
  background-image: url("../../../assets/Images/Home/world.png");
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  top: 341px;
  left: 146px;
  z-index: 3;
  animation: Text_fade 1.5s forwards ease-in-out;
  animation-delay: 3s;
}

.languages_text {
  opacity: 0;
  width: 319px;
  height: 79px;
  background-image: url("../../../assets/Images/Home/languages.png");
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  top: 409px;
  left: 75px;
  z-index: 3;
  animation: Text_fade 1.5s forwards ease-in-out;
  animation-delay: 3.4s;
}

//////////////////////////////// Math & Science /////////////////////////////////
.mathScience_Top {
  opacity: 0;
  width: 461px;
  height: 328px;
  background-image: url("../../../assets/Images/Home/math&Science_top.png");
  background-size: cover;
  position: absolute;
  z-index: 1;
  animation: Top_slide 2.5s forwards ease;
  animation-delay: 1.5s;
}

.math_text {
  opacity: 0;
  width: 205px;
  height: 80px;
  background-image: url("../../../assets/Images/Home/math.png");
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  top: 341px;
  left: 128px;
  z-index: 3;
  animation: Text_fade 1.5s forwards ease-in-out;
  animation-delay: 3s;
}

.science_text {
  opacity: 0;
  width: 231px;
  height: 79px;
  background-image: url("../../../assets/Images/Home/science.png");
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  top: 409px;
  left: 116px;
  z-index: 3;
  animation: Text_fade 1.5s forwards ease-in-out;
  animation-delay: 3.4s;
}



//////////////////////////////// Arts & Humanities /////////////////////////////////

.artsHumanities_Top {
  opacity: 0;
  width: 461px;
  height: 329px;
  background-image: url("../../../assets/Images/Home/artsHumanities_top.png");
  background-size: cover;
  position: absolute;
  z-index: 1;
  animation: Top_slide 2.5s forwards ease;
  animation-delay: 1.5s;
}

.arts_text {
  opacity: 0;
  width: 192px;
  height: 81px;
  background-image: url("../../../assets/Images/Home/Arts.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 341px;
  left: 146px;
  z-index: 3;
  animation: Text_fade 1.5s forwards ease-in-out;
  animation-delay: 3s;
}

.humanities_text {
  opacity: 0;
  width: 336px;
  height: 80px;
  background-repeat: no-repeat;
  background-image: url("../../../assets/Images/Home/humanities.png");
  background-size: contain;
  position: absolute;
  top: 409px;
  left: 70px;
  z-index: 3;
  animation: Text_fade 1.5s forwards ease-in-out;
  animation-delay: 3.4s;
}

@keyframes Blue_rectangle_rise {
  0% {
    opacity: 1;
    top: 500px;
  }
  100% {
    opacity: 1;
    top: 326px;
  }
}

@keyframes Top_slide {
  0% {
    opacity: 1;
    left: -466px;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}

@keyframes Text_fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes zoomAnimationgrid {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.03);
  }
}

@keyframes scaleAnimationHorizontal {
  to {
    transform: scaleX(1); /* Fully visible */
  }
}

@keyframes scaleAnimationVertical {
  to {
    transform: scaleY(1); /* Fully visible */
  }
}
