<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="cover-container">
        <img class="cover-image" src="assets/Images/SABIS-hq.jpeg" alt="Cover Image">
        <div class="overlay"></div>
        <div class="grid-container">

            <div class="grid-item" [class.animate__animated]="true" [class.animate__zoomIn]="!isBouncing_1"
                [class.animate__bounceOut]="isBouncing_1" [class.zoom-30]="isZoomin && !isBouncing_1"
                (click)="changeClass_1()">
                <div class="mask">
                    <div class="scaled-whiteline-horizontal"></div>
                    <div class="wordLanguages_Top"></div>
                    <div class="blueRectangle"></div>
                    <div class="world_text"></div>
                    <div class="languages_text"></div>
                    <div class="scaled-whiteline-vertical"></div>
                </div>

            </div>

            <div class="grid-item" [class.animate__animated]="true" [class.animate__zoomIn]="!isBouncing_1"
                [class.animate__bounceOut]="isBouncing_1" [class.zoom-30]="isZoomin && !isBouncing_1"
                (click)="changeClass_1()">
                <div class="mask">
                    <div class="scaled-whiteline-horizontal"></div>
                    <div class="scaled-whiteline-vertical"></div>

                </div>
            </div>

            <div class="grid-item" [class.animate__animated]="true" [class.animate__zoomIn]="!isBouncing_1"
                [class.animate__bounceOut]="isBouncing_1" [class.zoom-30]="isZoomin && !isBouncing_1"
                (click)="changeClass_1()">
                <div class="mask">
                    <div class="scaled-whiteline-horizontal"></div>
                    <div class="scaled-whiteline-vertical"></div>

                </div>
            </div>


            <!-- <a style="background-image: url('assets/Images/Home/WorldLanguages.png');
              background-size: contain;
  background-repeat: no-repeat;" class="grid-item" [class.animate__animated]="true"
                [class.animate__zoomIn]="!isBouncing_1" [class.animate__bounceOut]="isBouncing_1"
                [class.zoom-30]="isZoomin && !isBouncing_1" (click)="changeClass_1()">


            </a>
            <a style="background-image: url('assets/Images/Home/MathAndScience.png');
                  background-size: contain;
  background-repeat: no-repeat;" class="grid-item" [class.animate__animated]="true"
                [class.animate__zoomIn]="!isBouncing_2" [class.animate__bounceOut]="isBouncing_2"
                [class.zoom-30]="isZoomin&& !isBouncing_2" (click)="changeClass_2()"></a>
            <a style="background-image: url('assets/Images/Home/ArtsHumanities.png');
                  background-size: contain;
  background-repeat: no-repeat;" class="grid-item" [class.animate__animated]="true"
                [class.animate__zoomIn]="!isBouncing_3" [class.animate__bounceOut]="isBouncing_3"
                [class.zoom-30]="isZoomin&& !isBouncing_3" (click)="changeClass_3()"></a> -->

        </div>
    </div>




</body>

</html>