<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="cover-container">

        <img class="cover-image" src="../../assets/Images/SABIS-hq.jpeg" alt="Cover Image">
        <div class="overlay"></div>
        <div class="grid-container">

            <a style="background-image: url('../../../assets/Images/HistoricalReaders.png');
                background-size: cover;" routerLink="/historical" class="grid-item"></a>
            <a style="background-image: url('../../../assets/Images/LanguageReaders.png');
                background-size: cover;" routerLink="/historical" class="grid-item"></a>
            <a style="background-image: url('../../../assets/Images/Bilingual.png');
                background-size: cover;" class="grid-item"></a>
            <a style="background-image: url('../../../assets/Images/CustomizedProgram.png');
                background-size: cover;" class="grid-item"></a>
            <a style="background-image: url('../../../assets/Images/Accelerated.png');
                background-size: cover;" class="grid-item"></a>
            <a style="background-image: url('../../../assets/Images/ACE.png');
                background-size: cover;" class="grid-item"></a>

            <a style="background-image: url('../../../assets/Images/EngForAdults.png');
                background-size: cover;" class="grid-item">7</a>
            <a style="background-image: url('../../../assets/Images/French.png');
                background-size: cover;" class="grid-item">8</a>
        </div>
    </div>




</body>

</html>