.container {
  display: flex;
  margin-top: 15px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 27px;
  margin-top: 20px;
}
.mask {
  clip-path: inset(0 0 0 0);
  width: 461px;
  height: 43px;
  overflow: hidden;
  position: relative;
  top: 0;
  z-index: 3;
}

.left_side {
  background-size: contain;
  width: 104px;
  height: 40px;
  background-repeat: no-repeat;
}
.Arrow {
  position: relative;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  margin-top: 5px;
  width: 104px;
  height: 40px;
  left: 41px;
}
.slider-carousel {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: -83px;
}
::ng-deep .Arrow:disabled {
  opacity: 0.3;
}
.covers {
  display: flex;
  overflow: hidden;
  margin: 0px 10px;
  position: relative;
  right: -43px;
}

.covers-holder {
  display: flex;
  gap: 10px;
}

.dot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 21px;
  margin: 5px;
  position: relative; /* Add this line */
}
.line {
  position: absolute;
  height: 2px;
  left: 0; /* Add this line */
  right: 0; /* Add this line */
  width: 129px;
}
.dot-small {
  width: 14px;
  height: 14px;
  border-radius: 20px;
}
.dot-big {
  width: 21px;
  height: 21px;
  border-radius: 20px;
}

.mySwiper {
  width: 898px;
  height: 100%;

  &.mhs {
    width: 1653px;
  }
  &.bacc {
    width: 898px;
  }
  &.ib {
    width: 746px;
  }
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 143px !important;
  height: 201px !important;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
P {
  opacity: 0;
  position: relative;
  font-size: 27px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0px 0px 10px 0px;
  animation: Word_slide 2s forwards ease;
  top: 6px;
}
@keyframes Word_slide {
  0% {
    opacity: 0;
    top: 38px;
  }
  100% {
    opacity: 1;
    top: 6px;
  }
}
