.container {
  display: flex;
  height: 201px;
  margin-top: 25px;
  justify-content: center;
}


.left_side {
  background-size: cover;
  width: 101px;
  height: 182px;
  margin-right: 20px;
}
.Arrow {
  position: relative;
  top: -15px;
  width: 44px;
  height: 45px;
  background-color: transparent;
  border: none;
}
::ng-deep .Arrow:disabled {
  opacity: 0.3;
}
.covers {
  display: flex;
  overflow: hidden;
  width: 1538px;
  margin: 0px 10px;
}
.cover {
  width: 119px;
  height: 171px;
}

.covers-holder {
  display: flex;
  width: fit-content;

  gap: 10px;
}

.dot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 21px;
  margin: 5px;
  position: relative; /* Add this line */
}
.line {
  position: absolute;
  height: 2px;
  left: 0; /* Add this line */
  right: 0; /* Add this line */
  width: 129px;
}
.dot-small {
  width: 14px;
  height: 14px;
  border-radius: 20px;
}
.dot-big {
  width: 21px;
  height: 21px;
  border-radius: 20px;
}
