

<div class="container">
  <div class="left_side" [style.background-image]="'url(' + leftImagePath + ')'"></div>
  <div style="display: flex;align-items: center" class="slider-carousel">
    <!-- <button disabled class="Arrow" [style.background-image]="'url(' + arrowImagePath + ')'"></button> -->
    <div class="covers">
      <div class="covers-holder">
        
        <swiper-container class="mySwiper" slides-per-view="12" space-between="15" free-mode="true">
          <swiper-slide *ngFor="let cover of covers; let i = index">
            <img class="cover" 
                 [class.animate__animated]="true" 
                 [class.animate__bounceOut]="isBouncingOut_[i+1]"
                 (click)="changeClass(i+1,cover.filpProjectUrl)" 
                 [src]='cover.src' 
                 [id]="cover.id">
        </swiper-slide>
        </swiper-container>
      
      </div>
    </div>
    <button disabled class="Arrow"
      [style.background-image]="'url(' + arrowImagePath + ')'"></button>
  </div>
</div>


