.container {
  display: flex;
  width: 100vw;
  height: 201px;
  background-color: rgb(148, 148, 148);
  margin: 20px 70px 40px 70px;
}

.left_side {
  background-image: url("../../../assets/Images/LanguageReaders/Arabic/Arabic_Left_Side.png");
  background-size: cover;
  width: 101px;
  height: 171px;
  margin-right: 20px;
}
.Arrow {
  position: relative;
  top: -15px;
  width: 44px;
  height: 45px;
  background-color: transparent;
  border: none;
  background-image: url(../../../assets/Images/LanguageReaders/Arabic/Arabic-Arrow.png);
}
::ng-deep .Arrow:disabled {
  opacity: 0.3;
}
.covers {
  display: flex;
  overflow: hidden;
  width: 1538px;
  background-color: antiquewhite;
  margin: 0px 10px;
}
.cover {
  width: 119px;
  height: 171px;
}

.covers-holder {
  display: flex;
  width: fit-content;

  gap: 10px;
}

.dot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 21px;
  margin: 5px;
}
.line {
  width: 129px;
  position: absolute;
  height: 2px;
  &.arabic {
    background-color: #a7463f;
  }
  &.french {
    background-color: #a7463f;
  }
  &.spanish {
    background-color: #a7463f;
  }
  &.portuguese {
    background-color: #a7463f;
  }
}
.dot-small {
  width: 14px;
  height: 14px;
  border-radius: 20px;

  &.arabic {
    background-color: #a7463f;
  }
  &.french {
    background-color: #a7463f;
  }
  &.spanish {
    background-color: #a7463f;
  }
  &.portuguese {
    background-color: #a7463f;
  }
}
.dot-big {
  width: 21px;
  height: 21px;
  border-radius: 20px;

  &.arabic {
    background-color: #a7463f;
  }
  &.french {
    background-color: #a7463f;
  }
  &.spanish {
    background-color: #a7463f;
  }
  &.portuguese {
    background-color: #a7463f;
  }
}
