.container {
  background-color: #21425e;
  height: calc(100vh + 38.47px);
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  row-gap: 10px;
  height: calc(100vh - 320px);
  scale: 1;
  padding-top: 60px;
}

.mask {
  clip-path: inset(0 0 0 0);
  width: 461px;
  height: 34px;
  overflow: hidden;
  position: relative;
  top: 4px;
  z-index: 3;
}

.grid-item {
  font-size: 30px;
  text-align: center;
  height: 260px;
  display: flex;
  align-content: flex-end;
  justify-content: center;
  align-items: flex-end;

  &.custom {
    position: absolute;
    bottom: -37%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.cover {
  width: 143px;
  height: 201px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#backButton {
  width: 43px;
  height: 45px;
  z-index: 30 !important;
  position: absolute;
  top: 55%;
  left: 0.5%;
  background-image: url("../../../assets/Images/back.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.ap {
  opacity: 0;
  position: relative;
  width: 36px;
  height: 31px;
  animation: Word_slide_ap 2s forwards;
}

.as {
  opacity: 0;
  position: relative;
  width: 147px;
  height: 31px;
  animation: Word_slide_ap 2s forwards;
}
.sat {
  opacity: 0;
  position: relative;
  width: 49px;
  height: 31px;
  animation: Word_slide_ap 2s forwards;
}

.igse {
  opacity: 0;
  position: relative;
  width: 76px;
  height: 31px;
  animation: Word_slide_ap 2s forwards;
}
.us {
  opacity: 0;
  position: relative;
  width: 235px;
  height: 32px;
  animation: Word_slide_ap 2s forwards;
}

@keyframes Word_slide_ap {
  0% {
    opacity: 0;
    top: 100px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

.lt {
  opacity: 0;
  position: relative;
  width: 206px;
  height: 20px;
  animation: Word_slide_lt 2s forwards;
}
.camb {
  opacity: 0;
  position: relative;
  width: 320px;
  height: 21px;
  animation: Word_slide_lt 2s forwards;
}

@keyframes Word_slide_lt {
  0% {
    opacity: 0;
    top: 100px;
  }
  100% {
    opacity: 1;
    top: -2px;
  }
}

@media screen and (min-height: 950px) {
  .container {
    background-color: #21425e;
    height: calc(100vh - 133.53px);
  }
  .grid-container {
    padding-top: 58px;
    height: calc(100vh - 484px);
  }
  .grid-item {
    &.custom {
      position: absolute;
      bottom: -37%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
