<div class="container">
    <a id="backButton" (click)="navigateToMathAndScience()"></a>
    <div class="grid-container">
        <div class="grid-item">
            <div style="display: flex; flex-direction: column;align-items: center;justify-content: center">
                <div class="mask"> <img class="ap" src="assets/Images/ACE/AP.png"></div>

                <img style="width: 104px;height: 40px;" class="arrow" src="assets/Images/ACE/Arrow.png">
                <div style="display: flex;gap: 23px;">
                    <img class="cover" (click)="changeClass_1()" [class.animate__animated]="true"
                        [class.animate__bounceOut]="isBouncingOut_1" src="assets/Images/ACE/AP/Ap1.jpg">
                    <img class="cover" src="assets/Images/ACE/AP/APStatistics.jpg">
                </div>

            </div>
        </div>
        <div class="grid-item">
            <div style="display: flex; flex-direction: column;align-items: center;justify-content: center">
                <div class="mask"> <img class="as" src="assets/Images/ACE/AS.png"></div>

                <img style="width: 104px;height: 40px;" class="arrow" src="assets/Images/ACE/Arrow.png">
                <div style="display: flex;gap: 23px;">
                    <img class="cover" class="cover" (click)="changeClass_2()" [class.animate__animated]="true"
                        [class.animate__bounceOut]="isBouncingOut_2" src="assets/Images/ACE/AS-A Level/biology.jpg">
                    <img class="cover" src="assets/Images/ACE/AS-A Level/chemistry.jpg">
                    <img class="cover" src="assets/Images/ACE/AS-A Level/arabicTest.jpg">
                    <img class="cover" src="assets/Images/ACE/AS-A Level/biology2.jpg">

                </div>

            </div>
        </div>

        <div class="grid-item">
            <div style="display: flex; flex-direction: column;align-items: center;justify-content: center">

                <div class="mask"> <img class="camb" src="assets/Images/ACE/CAMBRIDGE.png"> </div>

                <img style="width: 104px;height: 40px;" class="arrow" src="assets/Images/ACE/Arrow.png">
                <div style="display: flex;gap: 23px;">
                    <img class="cover" class="cover" (click)="changeClass_5()" [class.animate__animated]="true"
                        [class.animate__bounceOut]="isBouncingOut_5" src="assets/Images/ACE/Cambridge/exam.jpg">
                    <img class="cover" src="assets/Images/ACE/Cambridge/primaryExam.jpg">
                </div>

            </div>
        </div>

        <div class="grid-item">
            <div style="display: flex; flex-direction: column;align-items: center;justify-content: center">
                <div class="mask"> <img class="sat" src="assets/Images/ACE/SAT.png"></div>

                <img style="width: 104px;height: 40px;" class="arrow" src="assets/Images/ACE/Arrow.png">
                <div style="display: flex;gap: 23px;">
                    <img class="cover" class="cover" (click)="changeClass_4()" [class.animate__animated]="true"
                        [class.animate__bounceOut]="isBouncingOut_4" src="assets/Images/ACE/SAT/SATExams.jpg">
                    <img class="cover" src="assets/Images/ACE/SAT/studyGuide.jpg">
                </div>

            </div>
        </div>

        <div class="grid-item">
            <div style="display: flex; flex-direction: column;align-items: center;justify-content: center">
                <div class="mask"> <img class="lt" src="assets/Images/ACE/LANGUAGE.png"></div>

                <img style="width: 104px;height: 40px;" class="arrow" src="assets/Images/ACE/Arrow.png">
                <div style="display: flex;gap: 23px;">
                    <img class="cover" class="cover" (click)="changeClass_3()" [class.animate__animated]="true"
                        [class.animate__bounceOut]="isBouncingOut_3" src="assets/Images/ACE/Language test/IELTS1.jpg">
                    <img class="cover" src="assets/Images/ACE/Language test/IELTS.jpg">

                    <img class="cover" src="assets/Images/ACE/Language test/IELTS2.jpg">
                    <img class="cover" src="assets/Images/ACE/Language test/preparation.jpg">
                </div>

            </div>
        </div>

        <div class="grid-item">
            <div style="display: flex; flex-direction: column;align-items: center;justify-content: center">
                <div class="mask"> <img class="igse" src="assets/Images/ACE/IGCSE.png"></div>

                <img style="width: 104px;height: 40px;" class="arrow" src="assets/Images/ACE/Arrow.png">
                <div style="display: flex;gap: 23px;">
                    <img class="cover" class="cover" (click)="changeClass_6()" [class.animate__animated]="true"
                        [class.animate__bounceOut]="isBouncingOut_6" src="assets/Images/ACE/IGCSE/firstLanguage.jpg">
                    <img class="cover" src="assets/Images/ACE/IGCSE/mathExam.jpg">
                    <img class="cover" src="assets/Images/ACE/IGCSE/foreignLanguage.jpg">
                </div>

            </div>
        </div>
        <div class="grid-item custom">

            <div style="display: flex; flex-direction: column;align-items: center;justify-content: center">
                <div class="mask"> <img class="us" src="assets/Images/ACE/US STATE.png"></div>

                <img style="width: 104px;height: 40px;" class="arrow" src="assets/Images/ACE/Arrow.png">
                <div style="display: flex;gap: 23px;">
                    <img class="cover" class="cover" (click)="changeClass_7()" [class.animate__animated]="true"
                        [class.animate__bounceOut]="isBouncingOut_7"
                        src="assets/Images/ACE/US state testing/mathGrase3.jpg">
                    <img class="cover" src="assets/Images/ACE/US state testing/mathGrase4.jpg">
                    <img class="cover" src="assets/Images/ACE/US state testing/mathGrase5.jpg">
                    <img class="cover" src="assets/Images/ACE/US state testing/mathGrase6.jpg">
                    <img class="cover" src="assets/Images/ACE/US state testing/mathGrase7.jpg">
                    <img class="cover" src="assets/Images/ACE/US state testing/mathGrase8.jpg">
                    <img class="cover" src="assets/Images/ACE/US state testing/mathGrase9.jpg">
                    <img class="cover" src="assets/Images/ACE/US state testing/mathGrase10.jpg">
                    <img class="cover" src="assets/Images/ACE/US state testing/mathGrase11.jpg">
                </div>

            </div>
        </div>
    </div>
</div>