<div class="container">
    <img class="title" src="assets/Images/ArtsAndHumanities/Music/PageElements/music-title.png">
    <a id="backButton" (click)="navigateToArtsAndHumanities()"></a>
    <div class="grid-container">
     
        <div class="grid-item">
            
            <img class="cover" [class.animate__animated]="true"
                    [class.animate__zoomIn]="true" src="assets/Images/ArtsAndHumanities/Music/PageElements/music-09.png">
        </div>

        <div class="grid-item">
            <img class="cover" [class.animate__animated]="true"
            [class.animate__zoomIn]="true" src="assets/Images/ArtsAndHumanities/Music/PageElements/music-08.png">
        </div>

        <div class="grid-item">
            <img class="cover" [class.animate__animated]="true"
                    [class.animate__zoomIn]="true" src="assets/Images/ArtsAndHumanities/Music/PageElements/music-05.png">
        </div>

        <div class="grid-item">
            <img class="cover" [class.animate__animated]="true"
            [class.animate__zoomIn]="true" src="assets/Images/ArtsAndHumanities/Music/PageElements/music-06.png">
        </div>

        <div class="grid-item">
            <img class="cover" [class.animate__animated]="true"
            [class.animate__zoomIn]="true" src="assets/Images/ArtsAndHumanities/Music/PageElements/music-10.png">
        </div>

        <div class="grid-item">
            <img class="cover" [class.animate__animated]="true"
                    [class.animate__zoomIn]="true" src="assets/Images/ArtsAndHumanities/Music/PageElements/music-04.png">
        </div>

        <div class="grid-item">

            <img class="cover" [class.animate__animated]="true"
                    [class.animate__zoomIn]="true" src="assets/Images/ArtsAndHumanities/Music/PageElements/music-07.png">
        </div>

        <div class="grid-item">

            <img class="cover" [class.animate__animated]="true"
            [class.animate__zoomIn]="true" src="assets/Images/ArtsAndHumanities/Music/PageElements/music-03.png">
        </div>

        <div class="grid-item">

            <img class="cover" [class.animate__animated]="true"
            [class.animate__zoomIn]="true" src="assets/Images/ArtsAndHumanities/Music/PageElements/music-01.png">
        </div>

        <div class="grid-item">

            <img class="cover" [class.animate__animated]="true"
                    [class.animate__zoomIn]="true" src="assets/Images/ArtsAndHumanities/Music/PageElements/music-02.png">
        </div>
    </div>