.container {
  background-color: #21425e;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../assets/Images/ArtsAndHumanities/Music/PageElements/Music-bg.png");
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 390px 390px;
  row-gap: 20px;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.title {
  position: absolute;
  top: 165px;
  left: 0;
  z-index: 1;
  animation: titleSlide 1s ease;
}

@keyframes titleSlide {
    0% {
      left: -235px;
    }
    100% {
        left: 0;
    }
  }
  

.grid-item {
  font-size: 30px;
  text-align: center;
  height: 390px;
  display: flex;
  align-content: flex-end;
  justify-content: center;
  align-items: flex-end;
  animation: zoomAnimationgrid 10s infinite alternate;
}



@keyframes zoomAnimationgrid {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.03);
  }
}

.cover {
  width: 300px;
  height: 390px;
}

@media screen and (min-height: 950px) {
  .container {
    background-color: #21425e;
    height: calc(100vh - 133.53px);
  }
  // .grid-container {
  //   padding-top: 58px;
  //   height: calc(100vh - 484px)
  // }
}
