<!-- flip-iframe.component.html -->
<div class="iframeContainer">
    <a id="backButton" routerLink="/bilingual"></a>
    <iframe [src]="projectUrl"></iframe>
    <div class="ThumbnailsContainer">

        <!-- <button id="BookThumb"
        style="background-image: url('assets/Images/CabezaDeVaca/Dictionary-Thumb.png');background-size: contain;background-repeat: no-repeat;background-position: center;"
        (click)="changeProjectUrl('assets/FlipProjects/Cabeza/Dictionary  - Cabeza de Vaca/index.html','Dictionary')"
        [ngClass]="{'selected': selectedProject === 'French'}"></button> -->


        <button id="BookThumb"
            style="display: flex;align-items: center;justify-content: center;font-size: 20px;font-family: 'oswaldRegular'"
            (click)="changeProjectUrl('assets/FlipProjects/Blingual Math/Arabic/Algebra 1 Part 1 (En-Ar)/index.html', 'Arabic')"
            [ngClass]="{'selected': selectedProject === 'Arabic'}">Arabic</button>
        <button id="BookThumb"
            style="display: flex;align-items: center;justify-content: center;font-size: 20px;font-family: 'oswaldRegular'"
            (click)="changeProjectUrl('assets/FlipProjects/Blingual Math/French/Algebra 1 Part 1 FR/index.html','French')"
            [ngClass]="{'selected': selectedProject === 'French'}">French</button>
        <button id="BookThumb"
            style="display: flex;align-items: center;justify-content: center;font-size: 20px;font-family: 'oswaldRegular'"
            (click)="changeProjectUrl('assets/FlipProjects/Blingual Math/Portuguese/Algebra 1 Part 1 (Por-Eng)/index.html','Portuguese')"
            [ngClass]="{'selected': selectedProject === 'Portuguese'}">Portuguese</button>
        <button id="BookThumb"
            style="display: flex;align-items: center;justify-content: center;font-size: 20px;font-family: 'oswaldRegular'"
            (click)="changeProjectUrl('assets/FlipProjects/Blingual Math/Korean/Algebra 1 Part 1 (Eng-Ko)/index.html','Korean')"
            [ngClass]="{'selected': selectedProject === 'Korean'}">Korean</button>

        <!-- /////////////////////////////////////////////////////////////////////////////////////////////            -->

        <button id="BookThumb"
            style="display: flex;align-items: center;justify-content: center;font-size: 20px;font-family: 'oswaldRegular'"
            (click)="changeProjectUrl('assets/FlipProjects/Blingual Math/Chinese/Mathematical Studies 2 Part 2 (EN-CN)/index.html', 'Chinese')"
            [ngClass]="{'selected': selectedProject === 'Chinese'}">Chinese</button>
        <button id="BookThumb"
            style="display: flex;align-items: center;justify-content: center;font-size: 20px;font-family: 'oswaldRegular'"
            (click)="changeProjectUrl('assets/FlipProjects/Cabeza/Dictionary  - Cabeza de Vaca/index.html','Kurdish')"
            [ngClass]="{'selected': selectedProject === 'Kurdish'}">Kurdish</button>
        <button id="BookThumb"
            style="display: flex;align-items: center;justify-content: center;font-size: 20px;font-family: 'oswaldRegular'"
            (click)="changeProjectUrl('assets/FlipProjects/Blingual Math/Spanish/Algebra 1 Part 1(En-Sp)/index.html','Spanish')"
            [ngClass]="{'selected': selectedProject === 'Spanish'}">Spanish</button>
        <button id="BookThumb"
            style="display: flex;align-items: center;justify-content: center;font-size: 20px;font-family: 'oswaldRegular'"
            (click)="changeProjectUrl('assets/FlipProjects/Blingual Math/Russian/Algebra 1 Part 1(En-Ru)/index.html','Russian')"
            [ngClass]="{'selected': selectedProject === 'Russian'}">Russian</button>

    </div>
</div>