.iframeContainer {
    width: 100vw;
    height: calc(100vh - 133.5px);
    display: flex;
    flex-direction: column;
    
  background-color: #30383c;
  }
  iframe {
    height: calc(100vh - 133.5px);
    border: none;
  }
  
  /* flip-iframe.component.scss */
  .ThumbnailsContainer {
    display: flex;
    justify-content: center;
    background-color: #30383c;
    margin: 0px 90px;
    gap:40px;
    button {
      cursor: pointer;
      border: none;
      width: 50px;
      height: 50px;
      transition: transform 0.3s ease; /* Add a CSS transition for smooth scaling */
  
      &.selected {
        transform: scale(1.2); /* Scale up the selected button */
      }
    }
  }
  
  #BookThumb {
    width: 100%;
    height: 50px;
    margin: 40px 0px 40px 0px ;
  }
  
  #backButton {
    width: 43px;
    height: 45px;
    z-index: 5;
    position: absolute;
    top: 40%;
    left: 2%;
    background-image: url("../../../assets/Images/back.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  