.container {
  height: calc(100vh - 133.53px);

  &.white {
    background-color: #f8f4ef;
  }

  &.blue {
    background-color: #21425e;
  }
}

#backButton {
  width: 43px;
  height: 45px;
  z-index: 30 !important;
  position: absolute;
  top: 55%;
  left: 0.5%;
  background-image: url("../../../assets/Images/back.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto;
  row-gap: 200px;
  scale: 0.9;
  padding-top: 30px;
}

.grid-item {
  font-size: 30px;
  align-items: center;
  justify-content: center;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &.custom {
    position: absolute;
    left: 44.8%;
    top: 100%;
  }
}

.img-big {
  width: 200px;
}
.img-small {
  width: 90px;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  width: 85vw;
  height: 85.5vh;
  object-fit: contain;
}

.navigationbuttonlg {
  position: absolute;
  border: none;
  height: 460px !important;
  top: 383px;
  left: 405px;
  width: 330px !important;
  background-color: transparent;

}
.animatedRow {
  position: absolute;
  border: none;
  height: 460px !important;
  top: 383px;
  left: 405px;
  width: 330px !important;
}

#backButton {
  width: 43px;
  height: 45px;
  z-index: 30 !important;
  position: absolute;
  top: 55%;
  left: 0.5%;
  background-image: url("../../../assets/Images/back.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-height: 950px) {
  .image-container img {
    width: 87vw;
    height: 87.6vh;
    object-fit: contain;
  }
  .animatedRow {
    position: absolute;
    border: none;
    height: 460px !important;
    top: 383px;
    left: 405px;
    width: 330px !important;
  }

  .navigationbuttonlg {
    position: absolute;
    border: none;
    height: 460px !important;
    top: 470px;
    left: 332px;
    width: 330px !important;
    background-color: transparent;
  }
  .grid-container {
    scale: 0.95;
    padding-top: 100px;
  }
  .grid-item {
    height: 294x;
  }
}


