<div class="container" [class.white]='notClicked' [class.blue]='!notClicked'>
    <a *ngIf="notClicked" id="backButton" (click)="navigateToWorldLanguages()"></a>
    <a *ngIf="!notClicked" id="backButton" (click)="onClick()"></a>

    <div *ngIf="notClicked" class="image-container">
        <img src="assets/Images/EnglishForAdults/English-For-Adults.png">
        <!-- <img class="animate__animated animate__pulse animate__repeat-2 animatedRow" src="assets/Images/EnglishForAdults/Stand-PopUp.png"> -->
        <button (click)="onClick()" class="navigationbuttonlg"></button>
    </div>

    <div *ngIf="!notClicked" class="grid-container">
        <div class="grid-item">
            <div>
                <img class="img-big"
                    src="../../../assets/Images/EnglishForAdults/Cover-Interactive-Eng-Introductory-(11-13042-15[4]).png">
            </div>

            <div style="display: flex;gap: 20px;">
                <img class="img-small"
                    src="../../../assets/Images/EnglishForAdults/Cover-IERC-Introductory-(11-13012-15[4]).png">
                <img class="img-small"
                    src="../../../assets/Images/EnglishForAdults/Cover-IELC-Introductory-(11-13010-17[3).png">

            </div>
        </div>
        <div class="grid-item">
            <div>
                <img class="img-big"
                    src="../../../assets/Images/EnglishForAdults/Cover-Interactive-Eng-Pre-inter(11-13041-18[4]).png">
            </div>

            <div style="display: flex;gap: 20px;">
                <img class="img-small"
                    src="../../../assets/Images/EnglishForAdults/Cover-IERC-Pre-Intermediate(11-13045-15[4]).png">
                <img class="img-small"
                    src="../../../assets/Images/EnglishForAdults/Cover-IELC-Pre-Intermediate-(11-13043-17[3]).png">

            </div>
        </div>
        <div class="grid-item">
            <div>
                <img class="img-big"
                    src="../../../assets/Images/EnglishForAdults/Cover-Interactive-English-Intermediate-(11-13049-18[5]).png">
            </div>

            <div style="display: flex;gap: 20px;">
                <img class="img-small"
                    src="../../../assets/Images/EnglishForAdults/Cover-IERC-Intermediate-(11-13013-15[3]).png">
                <img class="img-small"
                    src="../../../assets/Images/EnglishForAdults/Cover-IELC-Intermediate-(11-13011-17[3]).png">

            </div>
        </div>
        <div class="grid-item">
            <div>
                <img class="img-big"
                    src="../../../assets/Images/EnglishForAdults/Cover-IE-Upper-Intermediate-(11-13018-12[6]).png">
            </div>

            <div style="display: flex;gap: 20px;">
                <img class="img-small"
                    src="../../../assets/Images/EnglishForAdults/Cover-IERC-Upper-Intermediate-(11-13047-16[3]).png">
                <img class="img-small"
                    src="../../../assets/Images/EnglishForAdults/Cover-IELC-Upper-Intermediate(11-13057-18[3]).png">

            </div>
        </div>
        <div class="grid-item">
            <div>
                <img class="img-big"
                    src="../../../assets/Images/EnglishForAdults/Cover-Interactive-English-Advanced-(11-13100-14[7]).png">
            </div>

            <div style="display: flex;gap: 20px;">
                <img class="img-small"
                    src="../../../assets/Images/EnglishForAdults/Cover-IERC-Advanced-(11-13055-16[4]).png">
                <img class="img-small"
                    src="../../../assets/Images/EnglishForAdults/Cover-IELC-Advanced-(11-13066-18[2]).png">

            </div>
        </div>
        <div class="grid-item custom">
            <div style="display: flex;gap: 20px;">
                <img class="img-small"
                    src="../../../assets/Images/EnglishForAdults/Cover-English-for-a-Better-Future-(11-13000-19[2]).png">
                <img class="img-small"
                    src="../../../assets/Images/EnglishForAdults/Cover-Perfect-Pronunciation-(11-13074-18[3]).png">

            </div>
        </div>
    </div>
</div>