#backButton {
    width: 43px;
    height: 45px;
    z-index: 30 !important;
    position: absolute;
    top: 40%;
    left: 2%;
    background-image: url("../../../assets/Images/back.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  