<div style="height: calc(100vh - 133.53px);background-color: #21425e;">
  <language-readers [covers]="covers_arabic"
    [leftImagePath]="'assets/Images/LanguageReaders/Arabic/Arabic_Left_Side.png'"
    [arrowImagePath]="'assets/Images/LanguageReaders/Arrow.png'" dotBackgroundColor="#d4e6e8"></language-readers>

  <language-readers [covers]="covers_french"
    [leftImagePath]="'assets/Images/LanguageReaders/French/French_Left_Side.png'"
    [arrowImagePath]="'assets/Images/LanguageReaders/Arrow.png'" dotBackgroundColor="#d4e6e8"></language-readers>

  <language-readers [covers]="covers_spanish"
    [leftImagePath]="'assets/Images/LanguageReaders/Spanish/Spanish_Left_Side.png'"
    [arrowImagePath]="'assets/Images/LanguageReaders/Arrow.png'" dotBackgroundColor="#d4e6e8"></language-readers>

  <language-readers [covers]="covers_portuguese"
    [leftImagePath]="'assets/Images/LanguageReaders/Portuguese/Portuguese_Left_Side.png'"
    [arrowImagePath]="'assets/Images/LanguageReaders/Arrow.png'" dotBackgroundColor="#d4e6e8"></language-readers>
</div>