#backButton {
  width: 43px;
  height: 45px;
  z-index: 30 !important;
  position: absolute;
  top: 61%;
  left: 0.5%;
  background-image: url("../../../assets/Images/back.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 1%;
  padding-bottom: 3.3%;
  background-color: #21425e;
}

@media screen and (min-height: 950px) {
  #backButton {
    top: 52%;
    left: 0.5%;
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 1%;
    padding-bottom: 3.3%;
    background-color: #21425e;
    height: calc(100vh - 216.53px);
  }
}
