<a id="backButton" (click)="goBack()"></a>
<div style="padding-top: 1%;
    padding-bottom: 3.3%;;background-color: #21425e;">
  <language-readers [covers]="covers_arabic"
    [leftImagePath]="'assets/Images/LanguageReaders/Arabic/Arabic_Left_Side.png'"
    [arrowImagePath]="'assets/Images/LanguageReaders/attachedArrows.png'" dotBackgroundColor="#d4e6e8"></language-readers>

  <language-readers [covers]="covers_french"
    [leftImagePath]="'assets/Images/LanguageReaders/French/French_Left_Side.png'"
    [arrowImagePath]="'assets/Images/LanguageReaders/attachedArrows.png'" dotBackgroundColor="#d4e6e8"></language-readers>

  <language-readers [covers]="covers_spanish"
    [leftImagePath]="'assets/Images/LanguageReaders/Spanish/Spanish_Left_Side.png'"
    [arrowImagePath]="'assets/Images/LanguageReaders/attachedArrows.png'" dotBackgroundColor="#d4e6e8"></language-readers>

  <language-readers [covers]="covers_portuguese"
    [leftImagePath]="'assets/Images/LanguageReaders/Portuguese/Portuguese_Left_Side.png'"
    [arrowImagePath]="'assets/Images/LanguageReaders/attachedArrows.png'" dotBackgroundColor="#d4e6e8"></language-readers>
</div>