/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  background-color: #f5f0e9;
}

@font-face {
  font-family: "oswaldRegular";
  src: url("assets/Fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

