.container {
  background-color: #21425e;
  padding-top: 106px;
  height: 93vh;
}
.grid-container {
  display: grid;
  position: relative;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  row-gap: 0px;
  right: 20px;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 93vh;
}
.griditemsWrapper-01 {
  display: flex;
  position: relative;
  gap: 150px;
  left: 54px;
  margin-bottom: 88px;
}
.griditemsWrapper-02 {
  display: flex;
  position: relative;
  gap: 160px;
  margin-bottom: 88px;
  left: 20px;
}
.mask {
  clip-path: inset(0 0 0 0);
  width: 461px;
  height: 43px;
  overflow: hidden;
  position: relative;
  top: 4px;
  z-index: 3;
}
#backButton {
  width: 43px;
  height: 45px;
  z-index: 30 !important;
  position: absolute;
  top: 55%;
  left: 0.5%;
  background-image: url("../../../assets/Images/back.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.cover {
  width: 143px;
  height: 201px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
P {
  opacity: 0;
  position: relative;
  font-size: 27px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0px 0px 10px 0px;
  animation: Word_slide_ap 2s forwards ease;
  top: 38px;

  &.custom {
    animation: Word_slide_custom 2s forwards ease;
  }
}

@keyframes Word_slide_ap {
  0% {
    opacity: 0;
    top: 100px;
  }
  100% {
    opacity: 1;
    top: 2px;
  }
}

@keyframes Word_slide_custom {
  0% {
    opacity: 0;
    top: 100px;
  }
  100% {
    opacity: 1;
    top: 3px;
  }
}

.grid-item {
  font-size: 30px;
  text-align: center;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &.custom {
    margin-top: 31px;
  }
  &.center {
    display: flex;
    position: absolute;
    right: 46%;
    left: 50%;
    top: 39%;
  }
}

@media screen and (min-height: 950px) {
  .container {
    height: 77vh;
  }
  .grid-container {
    height: 77vh;
  }

  .grid-item {
    &.center {
      display: flex;
      position: absolute;
      right: 46%;
      left: 50%;
      top: 43%;
    }
  }
}
