<div class="container">

        <div class="grid-container">
                <div class="grid-item">
                        <accelerated-slider [covers]="covers_MHS" [leftImagePath]="'assets/Images/ACE/Arrow.png'"
                                [arrowImagePath]="'assets/Images/Accelerated/attachedArrows.png'"
                                dotBackgroundColor="#d4e6e8" word="MHS" [isMHS]='true'
                                [hideOriginal]='true'></accelerated-slider>

                </div>

                <div class="griditemsWrapper-01">

                        <div class="grid-item">
                                <div
                                        style="display: flex; flex-direction: column;align-items: center;justify-content: center;">
                                        <div class="mask">
                                                <p>UAE SPECIFIC</p>
                                        </div>

                                        <img style="width: 104px;height: 40px;" class="arrow"
                                                src="assets/Images/ACE/Arrow.png">
                                        <div style="display: flex;gap: 8px;">
                                                <img class="cover"
                                                        src="assets/Images/CustomizedProgram/UAE Specific/IdentityA.jpg">
                                                <img class="cover"
                                                        src="assets/Images/CustomizedProgram/UAE Specific/IdentityB.jpg">
                                                <img class="cover"
                                                        src="assets/Images/CustomizedProgram/UAE Specific/IdentityC.jpg">
                                                <img class="cover"
                                                        src="assets/Images/CustomizedProgram/UAE Specific/IdentityD.jpg">
                                                <img class="cover"
                                                        src="assets/Images/CustomizedProgram/UAE Specific/IdentityE.jpg">
                                                <img class="cover"
                                                        src="assets/Images/CustomizedProgram/UAE Specific/IdentityF.jpg">
                                                <img class="cover"
                                                        src="assets/Images/CustomizedProgram/UAE Specific/IdentityG.jpg">
                                        </div>
                                </div>
                        </div>

                        <div class="grid-item">
                                <div
                                        style="display: flex; flex-direction: column;align-items: center;justify-content: center;">
                                        <div class="mask">
                                                <p>LEBANESE PROGRAM</p>
                                        </div>

                                        <img style="width: 104px;height: 40px;" class="arrow"
                                                src="assets/Images/ACE/Arrow.png">
                                        <div style="display: flex;gap: 8px;">
                                                <img class="cover"
                                                        src="assets/Images/CustomizedProgram/Lebanese Program/Math1.jpg">
                                                <img class="cover"
                                                        src="assets/Images/CustomizedProgram/Lebanese Program/Math2.jpg">
                                                <img class="cover"
                                                        src="assets/Images/CustomizedProgram/Lebanese Program/Math3.jpg">
                                        </div>
                                </div>
                        </div>
                </div>

                <div class="griditemsWrapper-02">


                        <div class="grid-item"> <accelerated-slider [covers]="covers_BACC"
                                        [leftImagePath]="'assets/Images/ACE/Arrow.png'"
                                        [arrowImagePath]="'assets/Images/Accelerated/attachedArrows.png'"
                                        dotBackgroundColor="#d4e6e8" word="FRENCH BACC" [isBacc]='true'
                                        [hideOriginal]='true'></accelerated-slider></div>


                        <div class="grid-item">

                                <accelerated-slider [covers]="covers_IB"
                                        [leftImagePath]="'assets/Images/ACE/Arrow.png'"
                                        [arrowImagePath]="'assets/Images/Accelerated/attachedArrows.png'"
                                        dotBackgroundColor="#d4e6e8" word="IB" [isIB]='true'
                                        [hideOriginal]='true'></accelerated-slider>
                        </div>

                </div>
        </div>
</div>