<div class="container">

        <div class="grid-container">
                <div class="grid-item">
                        <accelerated-slider [covers]="covers_MHS"
                                [leftImagePath]="'assets/Images/ACE/arrow-ace.png'"
                                [arrowImagePath]="'assets/Images/Accelerated/attachedArrows.png'"
                                dotBackgroundColor="#d4e6e8" word="MHS"></accelerated-slider>
                </div>


                <div class="grid-item custom">
                        <div
                                style="display: flex; flex-direction: column;align-items: center;justify-content: center;gap: 5px;">
                                <div class="mask">
                                        <p>UAE SPECIFIC</p>
                                </div>

                                <img style="width: 195px;height: 58px;" class="arrow"
                                        src="assets/Images/ACE/arrow-ace.png">
                                <div style="display: flex;gap: 8px;">
                                        <img class="cover" src="assets/Images/CustomizedProgram/UAE Specific/IdentityA.jpg">
                                        <img class="cover" src="assets/Images/CustomizedProgram/UAE Specific/IdentityB.jpg">
                                        <img class="cover" src="assets/Images/CustomizedProgram/UAE Specific/IdentityC.jpg">
                                        <img class="cover" src="assets/Images/CustomizedProgram/UAE Specific/IdentityD.jpg">
                                        <img class="cover" src="assets/Images/CustomizedProgram/UAE Specific/IdentityE.jpg">
                                        <img class="cover" src="assets/Images/CustomizedProgram/UAE Specific/IdentityF.jpg">
                                        <img class="cover" src="assets/Images/CustomizedProgram/UAE Specific/IdentityG.jpg">
                                </div>
                        </div>


                </div>


                <div class="grid-item"> <accelerated-slider [covers]="covers_BACC"
                                [leftImagePath]="'assets/Images/ACE/arrow-ace.png'"
                                [arrowImagePath]="'assets/Images/Accelerated/attachedArrows.png'"
                                dotBackgroundColor="#d4e6e8" word="FRENCH BACC"></accelerated-slider></div>


                <div class="grid-item custom">
                        <div
                                style="display: flex; flex-direction: column;align-items: center;justify-content: center;gap: 5px;">
                                <div class="mask">
                                        <p>IB</p>
                                </div>

                                <img style="width: 195px;height: 58px;" class="arrow"
                                        src="assets/Images/ACE/arrow-ace.png">
                                <div style="display: flex;gap: 8px;">
                                        <img class="cover" src="assets/Images/CustomizedProgram/IB/math.jpg">
                                        <img class="cover" src="assets/Images/CustomizedProgram/IB//MathHLPart1.jpg">
                                        <img class="cover" src="assets/Images/CustomizedProgram/IB/MathHLPart3.jpg">
                                        <img class="cover" src="assets/Images/CustomizedProgram/IB/mathPart1.jpg">
                                        <img class="cover" src="assets/Images/CustomizedProgram/IB/mathPart3.jpg">
                                        <img class="cover" src="assets/Images/CustomizedProgram/IB/MathSLPart3.jpg">
                                </div>
                        </div>
                </div>


                <div class="grid-item center">
                        <div
                                style="display: flex; flex-direction: column;align-items: center;justify-content: center;gap: 5px;">
                                <div class="mask">
                                        <p class="custom">LEBANESE<br/>PROGRAM</p>
                                </div>

                                <img style="width: 195px;height: 58px;" class="arrow"
                                        src="assets/Images/ACE/arrow-ace.png">
                                <div style="display: flex;gap: 8px;">
                                        <img class="cover" src="assets/Images/CustomizedProgram/Lebanese Program/Math1.jpg">
                                        <img class="cover" src="assets/Images/CustomizedProgram/Lebanese Program/Math2.jpg">
                                        <img class="cover" src="assets/Images/CustomizedProgram/Lebanese Program/Math3.jpg">
                                </div>
                        </div>
                </div>

                </div>
                </div>