.container {
  background-color: #21425e;
  height: calc(100vh - 133.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../assets/Images/Chinese/chinese-bg.png");
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 390px 390px;
  column-gap: 40px;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: fit-content;
  scale: 0.85;
}
.title {
  position: absolute;
  top: 165px;
  left: 0;
  z-index: 1;
  animation: titleSlide 1s ease;
}

@keyframes titleSlide {
  0% {
    left: -235px;
  }
  100% {
    left: 0;
  }
}

.grid-item {
  font-size: 30px;
  text-align: center;
  height: 390px;
  width: 300px;
  display: flex;
  align-content: flex-end;
  justify-content: center;
  align-items: flex-end;
  animation: zoomAnimationgrid 10s infinite alternate;

  &.custom {
    width: 479px;
    height: 348px;
  }
}

@keyframes zoomAnimationgrid {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.03);
  }
}

#backButton {
  width: 43px;
  height: 45px;
  z-index: 30 !important;
  position: absolute;
  top: 55%;
  left: 0.5%;
  background-image: url("../../../assets/Images/back.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.cover {
  width: 300px;
  height: 390px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &.custom-01 {
    width: 479px;
    height: 348px;
    margin-right: 45px;
  }
  &.custom-02 {
    width: 235px;
    height: 347px;
    margin-left: 65px;
  }
}

@media screen and (min-height: 950px) {
  .container {
    height: calc(100vh - 133.53px);
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 390px 390px;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-top: 0px;
    scale: 1;
  }
}
