<div class="container">

    <div class="grid-container">
        <img class="title" src="assets/Images/Chinese/chinese-title.png">
        <div class="grid-item">
           
            <img class="cover" [class.animate__animated]="true"
                    [class.animate__zoomIn]="true" src="assets/Images/Chinese/chinese-01.png">
        </div>

        <div class="grid-item">
            <img class="cover" [class.animate__animated]="true"
            [class.animate__zoomIn]="true" src="assets/Images/Chinese/chinese-02.png">
        </div>

        <div class="grid-item custom">
            <img class="cover" [class.animate__animated]="true"
                    [class.animate__zoomIn]="true" src="assets/Images/Chinese/chinese-03.png">
        </div>

        <div class="grid-item">
            <img class="cover" [class.animate__animated]="true"
            [class.animate__zoomIn]="true" src="assets/Images/Chinese/chinese-04.png">
        </div>

    </div>